<!--div class="container">
  <div class="row mt-5">
    <div class="col-12 mt-1">
      <h2 class="alert-danger px-2">{{_global.appstatus.mensaje}}</h2>
    </div>
  </div>
</div-->

<div class="container fM2 menuadmin">
  <div class="row">

    <div class="offset-sm-6  col-sm-2 text-center" *ngIf="this._global.user.nivel!='distribuidor'">
      <a routerLink="/administracion/resumen-de-servicios/">Resumen de Servicios</a>
    </div>
    <div class="col-sm-2 text-center active" *ngIf="this._global.user.nivel!='distribuidor'">
      <a routerLink="/administracion/resumen-de-cambios/">Resumen de Cambios</a>
    </div>
    <div class="col-sm-2 text-center" *ngIf="this._global.user.nivel!='distribuidor'">
      <a routerLink="/administracion/historial-de-pagos/">Resumen de Pagos</a>
    </div>
    <!--<div class="col-sm-2 text-center">
      <a routerLink="/administracion/servicios-red/">Servicios Red</a>
    </div>-->
  </div>
</div>


 <div class="container">

   <div class="row mt-3">
     <div class="col-6">
       <h2>RESUMEN DE SERVICIOS</h2>
     </div>
   </div>

   <div class="row mt-3">
      <div class="col-1 text-center">
        <i class="fa fa-building fa-2x"></i>
      </div>
      <div class="col-4 fM">
      {{this._global.user.NombreCentro}}<br>
      PAIS: {{this._global.user.Pais}}<br>
      </div>

      <div class="col-3">
        DIRECCIÓN: {{this._global.user.Direccion}}<br>
        TELÉFONOS: {{this._global.user.Telefono1}} {{this._global.user.Telefono2}} {{this._global.user.Telefono3}}<br>
        RED: {{this._global.user.Red}}<br>
      </div>


      <div class="col-4 fM3">
        <!--h5>Garantia de Partes: <strong>{{this.GarantiaDePartes|currency}} USD</strong></h5>
        <h5>Garantia de M.O. & Kms: <strong>{{this.GarantiaMOyKms|currency}} USD</strong></h5>
        <h5>Reembolso Garantia FEE : <strong>{{this.ReembolsoGarantiaFee|currency}} USD</strong></h5>
        <h5>Garantia de Cambios y Reemplazo: <strong>{{this.GarantiaDeCambios|currency}} USD</strong></h5>-->
        <h5>Monto Total: <strong>{{montoTotal|currency}} USD</strong></h5>
        <!--div class="row">
          <div class="col-12">
            <h5><strong>Monto Total: ${{montoTotal}} USD</strong></h5>
          </div>
        </div-->
        <!--div class="row">
          <div class="col-12">
            <h5><strong>Status: {{statusPago}}</strong></h5>
          </div>
        </div-->
      </div>
   </div>
   <form  name="formulariofiltros" [formGroup]="filterForm" >
   <div class="row mt-3">
     <div class="col-2 text-right">
       <select class="form-control form-control-sm" formControlName="Pais" (change)="changePais()" hidden>
         <option value="" hidden="">País</option>
         <option *ngFor="let item of _global.paises;" value="{{item.Pais}}">{{item.Pais}}</option>
       </select>
     </div>
     <div class="col-2 text-right">
       <select class="form-control form-control-sm" formControlName="Master" id="master" (change)="changeMaster()" hidden>
         <option value="" hidden>Master</option>
       </select>
     </div>
     <div class="col-2 text-right">
       <select class="form-control form-control-sm" formControlName="Cds" id="centros">
         <option value="" hidden>CDS</option>
         <option value="Todos">Todos</option>
       </select>
     </div>
     <div class="col-2 text-right">
       <select class="form-control form-control-sm" formControlName="Categoria">
         <option value="">Categoría</option>
         <option value="LINEA BLANCA">LINEA BLANCA</option>
         <option value="MENAJE">MENAJE</option>
       </select>
     </div>
     <div class="col-2 text-right">
       <select class="form-control form-control-sm" formControlName="Ano">
         <option value="0">Año</option>
         <option value="2019">2019</option>
         <option value="2018">2018</option>
         <option value="2017">2017</option>
       </select>
     </div>
     <div class="col-2 text-right">
       <select class="form-control form-control-sm" formControlName="Mes">
         <option value="0">Mes</option>
         <option value="01">enero</option>
         <option value="02">febrero</option>
         <option value="03">marzo</option>
         <option value="04">abril</option>
         <option value="05">mayo</option>
         <option value="06">junio</option>
         <option value="07">julio</option>
         <option value="08">agosto</option>
         <option value="09">septiembre</option>
         <option value="10">octubre</option>
         <option value="11">noviembre</option>
         <option value="12">diciembre</option>
       </select>
     </div>
   </div>
   <div class="row mt-3">
     <div class="col-10 text-center">
       &nbsp;
     </div>
     <div class="col-2 text-center">
       <a class="btn btn-sm btnicono" (click)="filtrarReporte()"> Filtrar </a>
     </div>
   </div>
   </form>


  <hr>
  <div class="row my-3">
    <div class="offset-sm-9 col-3 mb-1">
      <a *ngIf="this.statusPago != 'Enviado' && this._global.ordenesServicio.recientes.length != 0" class="btn btn-sm btnicono" (click)="generaReporte()"> Generar reporte y enviar </a>
    </div>
  </div>
   <div *ngIf="_global.ordenesServicio.recientes[0]">
     <div class="overflow">

       <table datatable [dtOptions]="this.dtOptions" [dtTrigger]="trigger"  id="tabla" class="table table-striped table-bordered">
           <thead>
           <tr>
             <th>Orden de Servicio</th>
             <th>Centro - Master</th>
             <th>No. Orden</th>
             <th>Año</th>
             <th>Mes</th>
             <th>Día</th>
             <th>Categoría</th>
             <th>Subcategoría</th>
             <th>No. Serie</th>
             <th>Descripción del Producto</th>
             <th>Modelo</th>
             <th>Descripción Falla</th>
             <th>Motivo de Falla</th>
             <th>Nombre Cliente</th>
             <th>Fecha de recepción</th>
             <th>Fecha de entrega</th>
             <th>Tipo de Reclamo</th>
             <!--th>Costo Refacciones</th>
             <th>Costo Reparacion</th>
             <th>Costo Movilización</th>
             <th>Costo Despiece</th>
             <th>Costo Reciclaje</th>
             <th>Otro Costo</th>
             <th>Desc. otro Costo</th>
             <th>Fee Mensual</th>
             <th>Impuesto Fee Mensual</th>
             <th>Costo Impuesto</th>
             <th>Total</th-->
             <th>Costo Landed</th>
             <th>Otro Costo</th>
           </tr>
           </thead>

           <tbody>
           <tr *ngFor="let item of _global.ordenesServicio.recientes;">
             <td>
               <button (click)="this._global.seleccionarReporte(item.id, 'inicio/resumen/orden')" class="btn btn-sm">Consultar</button>
             </td>
             <td>
               {{item.nombre}}<span *ngIf="item.Master!='N/A'"> - {{item.Master}}</span>
             </td>
             <td>
               {{item.id}}
             </td>
             <td>
               {{item.FechaOrdenAno}}
             </td>
             <td>
               {{item.FechaOrdenMes}}
             </td>
             <td>
               {{item.FechaOrdenDia}}
             </td>
             <td>
               {{item.Categoria}}
             </td>
             <td>
               {{item.Subcategoria}}
             </td>
             <td>
               {{item.NoSerie}}
             </td>
             <td>
               {{item.Tipo}}
             </td>
             <td>
               {{item.Modelo}}
             </td>
             <td>
               {{item.Comentarios}}
             </td>
             <td>
               {{item.ObservacionesCDSDiagnostico}}
             </td>
             <td>
               {{item.RazonSocial}} {{item.Nombre}} {{item.APaterno}} {{item.AMaterno}}
             </td>
             <td>
               {{item.FechaRegistroReporte}}
             </td>
             <td>
               {{item.FechaDiagnostico}}
             </td>
             <td>
               {{item.TipoReclamoDiagnostico}}
             </td>
             <!--td>
               {{item.MontoRefacciones | currency}}
             </td>
             <td>
               {{item.MontoReparacion | currency}}
             </td>
             <td>
               {{item.MontoMovilizacion | currency}}
             </td>
             <td>
               {{item.MontoDespiece | currency}}
             </td>
             <td>
               {{item.MontoReciclaje | currency}}
             </td>
             <td>
               {{item.MontoOtro | currency}}
             </td>
             <td>
               {{item.MontoOtroDescripcion}}
             </td>
             <td>
               {{item.TarifaMensual | currency}}
             </td>
             <td>
               {{item.ImpuestoTarifaMensual | currency}}
             </td>
             <td>
               {{item.MontoIVA | currency}}
             </td>
             <td>
               ${{item.MontoTotal | currency}}
             </td-->
             <td>
               {{item.CostoLanded | currency}}
             </td>
             <td>
               {{item.OtroCostoDistribuidor | currency}}
             </td>

           </tr>
           </tbody>
</table>

     </div>
   </div>

   <!--div *ngIf="!_global.ordenesServicio.recientes[0]">
     <div class="row my-5">
       <div class="col-sm-12 my-5 text-center">
         No hay órdenes de servicio pendientes de envío para este mes.
       </div>
     </div>
    </div-->
    <br />
     <div class="row my-5">
       <div class="offset-sm-9 col-3 mb-5">
         <a *ngIf="this.statusPago != 'Enviado' && this._global.ordenesServicio.recientes.length != 0" class="btn btn-sm btnicono" (click)="generaReporte()"> Generar reporte y enviar </a>
       </div>
     </div>



   </div>
