#bell-counter{
  display: inline-block;
  position: relative;
  top: -35px;
  left: 12px;
  font-size: 8px;
  background-color: red;
  padding: 2px;
  border-radius: 10px;
  width: 15px;
  height: 15px;
  color: white;
  font-weight: bold;
}
