<!--div class="container">
  <div class="row mt-5">
    <div class="col-12 mt-1">
      <h2 class="alert-danger px-2">{{_global.appstatus.mensaje}}</h2>
    </div>
  </div>
</div-->


 <div class="container">


   <div class="row mt-3">
     <div class="col-6">
       <i class="fa fa-user-circle"></i> Bienvenido {{_global.user.nombre}} <br> No. Operador: {{_global.user.id}}
     </div>


   </div>
  <hr>

   <div [hidden]="!(_global.user.nivel == 'administrador')">

     <!---->
     <div class="row mt-5 mb-2">
       <div class="col-8">
         <h3>Refacciones por autorizar</h3>
       </div>
       <div class="col-4 text-right">
         <a routerLink="../nuevas-refacciones/">Ver todos</a>
       </div>
     </div>

     <div class="row mb-3" *ngIf="_global.refaccionesXAutorizar.recientes[0]">
       <div class="col-12 ">

         <table class="table table-striped table-bordered">
           <tr>
             <th>País</th>
             <th>No. de Reporte</th>
             <th>CDS</th>

             <th>Fecha de Registro</th>
             <th>Tipo de Caso</th>

             <th>Nombre Refaccion</th>
             <th>No. Parte</th>



             <th>Días Transcurridos</th>

             <th>Status</th>

             <th>Disponibilidad</th>
             <th>Fecha Entrega</th>
             <th>Acción</th>


             <th>Selección</th>
           </tr>

           <tr *ngFor="let item of _global.refaccionesXAutorizar.recientes;" class="formulario" [hidden]="item.Refacciones.Existencia=='No Disponible'">

             <td>
               {{item.Pais}}
             </td>
             <td>
               {{item.id}}
             </td>
             <td>
               {{item.NombreCentro}}
             </td>

             <td>
			         {{item.FechaRegistroReporteNF}}
             </td>
             <td>
               {{item.TipoCaso}}
             </td>

             <td>
               {{item.Refacciones.NombreRefaccion}}
             </td>
             <td>
               {{item.Refacciones.NoParte}}
             </td>



             <td [ngClass]="this._global.diasTranscurridosColor(item.FechaRegistroReporte)">
               {{this._global.diasTranscurridos(item.FechaRegistroReporte)}}
             </td>
             <td>
               <span [innerHTML]="this._global.setStatusRefaccion(item.Refacciones.StatusCotizacion)"></span>
             </td>

             <td>
               {{item.Refacciones.Existencia}}
             </td>

             <td>
               {{item.Refacciones.FechaEntrega.day}}/{{item.Refacciones.FechaEntrega.month}}/{{item.Refacciones.FechaEntrega.year}}<br>
             </td>

             <td>
               <button (click)="this._global.evaluaRefaccion(item.id, item.Refacciones.NoParte)" class="btn btn-sm">Cambiar Status</button>
             </td>


             <td>
               <button (click)="this._global.seleccionarReporte(item.id, 'inicio/resumen')" class="btn btn-sm">Ver reporte</button>
             </td>
           </tr>

         </table>

       </div>
     </div>
     <div class="row mb-3 ml-2" *ngIf="!_global.refaccionesXAutorizar.recientes[0]">No hay refacciones por autorizar.</div>


       <!---->
       <div class="row mt-5 mb-2">
         <div class="col-8">
           <h3>Cotizaciones por autorizar</h3>
         </div>
         <div class="col-4 text-right">
           <a routerLink="../nuevas-cotizaci/">Ver todos</a>
         </div>
       </div>

       <div class="row mb-3" *ngIf="_global.cotizacionesXAutorizar.recientes[0]">
         <div class="col-12 ">

           <table class="table table-striped table-bordered">
             <tr>
               <th>País</th>
               <th>No. de Reporte</th>
               <th>CDS</th>

               <th>Fecha de Registro</th>
               <th>Tipo de Caso</th>

               <th>Nombre Refaccion</th>
               <th>No. Parte</th>

               <th>Cotización</th>

               <th>Días Transcurridos</th>

               <th>Status</th>

               <th>Aprobación</th>
               <th>Fecha Entrega</th>
               <th>Acción</th>


               <th>Selección</th>
             </tr>

             <tr *ngFor="let item of _global.cotizacionesXAutorizar.recientes;" class="formulario" [hidden]="!(item.Refacciones.Status=='En revisión')">

               <td>
                 {{item.Pais}}
               </td>
               <td>
                 {{item.id}}
               </td>
               <td>
                 {{item.NombreCentro}}
               </td>

               <td>
				          {{item.FechaRegistroReporteNF}}
               </td>
               <td>
                 {{item.TipoCaso}}
               </td>

               <td>
                 {{item.Refacciones.NombreRefaccion}}
               </td>
               <td>
                 {{item.Refacciones.NoParte}}
               </td>


               <td>
                 <strong>Proveedor:</strong> {{item.Refacciones.Proveedor}}<br>
                 <strong>Cantidad:</strong> {{item.Refacciones.Cantidad}}<br>
                 <strong>Costo Unitario:</strong> ${{item.Refacciones.CostoUnitario}}<br>
                 <strong>Costo Total:</strong> ${{item.Refacciones.CostoTotal}}<br>
                 <strong>Fecha de Entrega:</strong> {{item.Refacciones.FechaEntrega.day}}/{{item.Refacciones.FechaEntrega.month}}/{{item.Refacciones.FechaEntrega.year}}<br>
                 <strong>Nota:</strong> &nbsp;<a (click)="this._global.muestraImagenNota(item.Refacciones.Nota, item.id)">&nbsp;<i class="fa fa-file"></i></a>
               </td>


               <td [ngClass]="this._global.diasTranscurridosColor(item.FechaRegistroReporte)">
                 {{this._global.diasTranscurridos(item.FechaRegistroReporte)}}
               </td>
               <td>
                 {{item.Refacciones.StatusCotizacion}}
               </td>

               <td>
                 {{item.Refacciones.Status}}
               </td>

               <td>
                 {{item.Refacciones.FechaEntrega.day}}/{{item.Refacciones.FechaEntrega.month}}/{{item.Refacciones.FechaEntrega.year}}<br>
               </td>

               <td>
                 <button (click)="this._global.evaluaCotizacion(item.id, item.Refacciones.NoParte)" class="btn btn-sm">Cambiar Status</button>
               </td>


               <td>
                 <button (click)="this._global.seleccionarReporte(item.id, 'inicio/resumen')" class="btn btn-sm">Ver reporte</button>
               </td>
             </tr>

           </table>

         </div>
       </div>
     <div class="row mb-3 ml-2" *ngIf="!_global.cotizacionesXAutorizar.recientes[0]">No hay cotizaciones por autorizar.</div>

       <!---->
       <div class="row mt-5 mb-2">
         <div class="col-8">
           <h3>Movilizaciones por autorizar</h3>
         </div>
         <div class="col-4 text-right">
           <a routerLink="../nuevas-movilizaciones/">Ver todos</a>
         </div>
       </div>

       <div class="row mb-3" *ngIf="_global.movilizacionesXAutorizar.recientes[0]">
         <div class="col-12 ">

           <table class="table table-striped table-bordered">
             <tr>
               <th>País</th>
               <th>No. de Reporte</th>
               <th>CDS</th>

               <th>Fecha de Registro</th>
               <th>Tipo de Caso</th>

               <th>Tipo Movilidad</th>
               <th>Tarifa Movilidad</th>



               <th>Días Transcurridos</th>

               <th>Status</th>


               <th>Acción</th>


               <th>Selección</th>
             </tr>

             <tr *ngFor="let item of _global.movilizacionesXAutorizar.recientes;" class="formulario">

               <td>
                 {{item.Pais}}
               </td>
               <td>
                 {{item.id}}
               </td>
               <td>
                 {{item.NombreCentro}}
               </td>

               <td>
				          {{item.FechaRegistroReporteNF}}
               </td>
               <td>
                 {{item.TipoCaso}}
               </td>

               <td>
                 {{item.SubtipoServicio}}
               </td>
               <td *ngIf="item.MontoMovilizacion==0">
                 ${{item.Valor}}
               </td>
               <td *ngIf="item.MontoMovilizacion!=0">
                 ${{item.MontoMovilizacion}}
               </td>



               <td [ngClass]="this._global.diasTranscurridosColor(item.FechaRegistroReporte)">
                 {{this._global.diasTranscurridos(item.FechaRegistroReporte)}}
               </td>
               <td>
                 {{item.StatusMovilidad}}
               </td>



               <td>
                 <button (click)="this._global.evaluaMovilizacion(item.id, item.Refacciones.NoParte)" class="btn btn-sm">Cambiar Status</button>
               </td>


               <td>
                 <button (click)="this._global.seleccionarReporte(item.id, 'inicio/resumen')" class="btn btn-sm">Ver reporte</button>
               </td>
             </tr>

           </table>

         </div>
       </div>
      <div class="row mb-3 ml-2" *ngIf="!_global.movilizacionesXAutorizar.recientes[0]">No hay movilizaciones por autorizar.</div>


      <div class="row mt-5 mb-2">
        <div class="col-8">
          <h3>Cambios físicos por autorizar - Distribuidores</h3>
        </div>
        <div class="col-4 text-right">
          <a routerLink="../nuevos-cambios-fisicos-dist/">Ver todos</a>
        </div>
      </div>
      <div class="row mb-3" *ngIf="_global.cambiosFisicosXAutorizarDist.recientes[0]">
        <div class="col-12 ">

          <table class="table table-striped table-bordered">
            <tr>
              <th>País</th>
              <th>No. de Reporte</th>
              <th>CDS</th>

              <th>Fecha de Registro</th>
              <th>Tipo de Caso</th>

              <!--th>Tarifa Despiece</th>
              <th>Tarifa Reciclaje</th>
              <th>Tarifa Otro Monto</th-->
              <!--th>Descripcion Otro Monto</th-->

              <th>Costo Landed</th>
              <th>Otro Costo</th>

              <th>Días Transcurridos</th>
              <!--th>Status Costo Landed</th>

              <th>Status</th-->

              <th>Acción</th>


              <th>Selección</th>
            </tr>

            <tr *ngFor="let item of _global.cambiosFisicosXAutorizarDist.recientes;" class="formulario">

              <td>
                {{item.Pais}}
              </td>
              <td>
                {{item.id}}
              </td>
              <td>
                {{item.NombreCentro}}
              </td>

              <td>
                 {{item.FechaRegistroReporteNF}}
              </td>
              <td>
                {{item.TipoCaso}}
              </td>

              <!--td>
                {{item.MontoDespiece|currency}} USD
              </td>
              <td>
                {{item.MontoReciclaje|currency}} USD
              </td>
              <td>
                {{item.MontoOtro|currency}} USD
              </td-->
              <!--td>
                {{item.MontoOtroDescripcion}}
              </td-->
              <td>
                {{item.CostoLanded|currency}} USD
              </td>
              <td>
                {{item.OtroCostoDistribuidor|currency}} USD
              </td>

              <td [ngClass]="this._global.diasTranscurridosColor(item.FechaRegistroReporte)">
                {{this._global.diasTranscurridos(item.FechaRegistroReporte)}}
              </td>
              <!--td>
                {{item.StatusCostoLanded}}
              </td>
              <td>
                {{item.StatusCambioFisico}}
              </td-->



              <td>
                <button (click)="this._global.evaluaCostoLanded(item.id)" class="btn btn-sm">Cambiar Status</button>
              </td>


              <td>
                <button (click)="this._global.seleccionarReporte(item.id, 'inicio/resumen/orden')" class="btn btn-sm">Ver reporte</button>
              </td>
            </tr>

          </table>

        </div>
      </div>
     <div class="row mb-3 ml-2" *ngIf="!_global.cambiosFisicosXAutorizarDist.recientes[0]">No hay cambios físicos por autorizar.</div>

      <!---->
      <div class="row mt-5 mb-2">
        <div class="col-8">
          <h3>Cambios físicos por autorizar - CDs</h3>
        </div>
        <div class="col-4 text-right">
          <a routerLink="../nuevos-cambios-fisicos/">Ver todos</a>
        </div>
      </div>

      <div class="row mb-3" *ngIf="_global.cambiosFisicosXAutorizar.recientes[0]">
        <div class="col-12 ">

          <table class="table table-striped table-bordered">
            <tr>
              <th>País</th>
              <th>No. de Reporte</th>
              <th>CDS</th>

              <th>Fecha de Registro</th>
              <th>Tipo de Caso</th>

              <th>Tarifa Despiece</th>
              <th>Tarifa Reciclaje</th>
              <th>Tarifa Otro Monto</th>
              <!--th>Descripcion Otro Monto</th-->


              <th>Días Transcurridos</th>

              <!--th>Status</th-->


              <th>Acción</th>


              <th>Selección</th>
            </tr>

            <tr *ngFor="let item of _global.cambiosFisicosXAutorizar.recientes;" class="formulario">

              <td>
                {{item.Pais}}
              </td>
              <td>
                {{item.id}}
              </td>
              <td>
                {{item.NombreCentro}}
              </td>

              <td>
                 {{item.FechaRegistroReporteNF}}
              </td>
              <td>
                {{item.TipoCaso}}
              </td>

              <td>
                {{item.MontoDespiece|currency}} USD
              </td>
              <td>
                {{item.MontoReciclaje|currency}} USD
              </td>
              <td>
                {{item.MontoOtro|currency}} USD
              </td>
              <!--td>
                {{item.MontoOtroDescripcion}}
              </td-->

              <td [ngClass]="this._global.diasTranscurridosColor(item.FechaRegistroReporte)">
                {{this._global.diasTranscurridos(item.FechaRegistroReporte)}}
              </td>
              <!--td>
                {{item.StatusCambioFisico}}
              </td-->



              <td>
                <button (click)="this._global.evaluaCambioFisico(item.id)" class="btn btn-sm">Cambiar Status</button>
              </td>


              <td>
                <button (click)="this._global.seleccionarReporte(item.id, 'inicio/resumen')" class="btn btn-sm">Ver reporte</button>
              </td>
            </tr>

          </table>

        </div>
      </div>
     <div class="row mb-3 ml-2" *ngIf="!_global.cambiosFisicosXAutorizar.recientes[0]">No hay cambios físicos por autorizar.</div>



     </div> <!--termina administrador-->

     <div  *ngIf="_global.cambiosFisicosXAutorizarPD.recientes[0]">
     <div class="row mt-5 mb-2">
       <div class="col-8">
         <h3>Cambios físicos</h3>
       </div>
       <div class="col-4 text-right">
         <a routerLink="../nuevos-cambios-fisicos/">Ver todos</a>
       </div>
     </div>

     <div class="row mb-3" *ngIf="_global.cambiosFisicosXAutorizarPD.recientes[0]">
       <div class="col-12 ">

         <table class="table table-striped table-bordered">
           <tr>
             <th>País</th>
             <th>No. de Reporte</th>
             <th>CDS</th>

             <th>Fecha de Registro</th>
             <th>Tipo de Caso</th>

             <th [hidden]="this._global.user.nivel=='distribuidor'">Tarifa Despiece</th>
             <th [hidden]="this._global.user.nivel=='distribuidor'">Tarifa Reciclaje</th>
             <th [hidden]="this._global.user.nivel=='distribuidor'">Tarifa Otro Monto</th>
             <th hidden>Costo Landed</th>
             <th hidden>Otro Costo</th>
             <!--th>Descripcion Otro Monto</th-->


             <th>Días Transcurridos</th>
             <th>Status CDs</th>
             <th>Status Costo Landed</th>


             <!--th>Acción</th--->


             <th>Selección</th>
           </tr>

           <tr *ngFor="let item of _global.cambiosFisicosXAutorizarPD.recientes;" class="formulario">

             <td>
               {{item.Pais}}
             </td>
             <td>
               {{item.id}}
             </td>
             <td>
               {{item.NombreCentro}}
             </td>

             <td>
                {{item.FechaRegistroReporteNF}}
             </td>
             <td>
               {{item.TipoCaso}}
             </td>

             <td [hidden]="this._global.user.nivel=='distribuidor'">
               {{item.MontoDespiece|currency}} USD
             </td>
             <td [hidden]="this._global.user.nivel=='distribuidor'">
               {{item.MontoReciclaje|currency}} USD
             </td>
             <td [hidden]="this._global.user.nivel=='distribuidor'">
               {{item.MontoOtro|currency}} USD
             </td>
             <td hidden>
               {{item.CostoLanded|currency}} USD
             </td>
             <td hidden>
               {{item.OtroCostoDistribuidor|currency}} USD
             </td>
             <!--td>
               {{item.MontoOtroDescripcion}}
             </td-->

             <td [ngClass]="this._global.diasTranscurridosColor(item.FechaRegistroReporte)">
               {{this._global.diasTranscurridos(item.FechaRegistroReporte)}}
             </td>
             <td>
               {{item.StatusCambioFisico}}
             </td>
             <td>
               {{item.StatusCostoLanded}}
             </td>



             <!--td>
               <button (click)="this._global.evaluaCambioFisico(item.id)" class="btn btn-sm">Cambiar Status</button>
             </td-->


             <td>
               <button (click)="this._global.seleccionarReporte(item.id, 'inicio/resumen/orden')" class="btn btn-sm">Ver reporte</button>
             </td>
           </tr>

         </table>

       </div>
     </div>
     <div class="row mb-3 ml-2" *ngIf="!_global.cambiosFisicosXAutorizarPD.recientes[0]">No hay cambios físicos por autorizar.</div>
     </div>

  <div class="row mt-5 mb-2">
    <div class="col-8">
      <h3>Casos Asignados Recientemente</h3>
    </div>
    <div class="col-4 text-right">
      <a routerLink="/inicio/casos-asignados/">Ver todos</a>
    </div>
  </div>
  <form  name="formulariofiltros" [formGroup]="filterForm" *ngIf="this._global.user.nivel=='administrador'">
  <div class="row mt-3 mb-2">
    <div class="col-3 text-right">
      <select class="form-control form-control-sm" formControlName="Pais" (change)="changePais()">
        <option value="" hidden="">País</option>
        <option *ngFor="let item of _global.paises;" value="{{item.Pais}}">{{item.Pais}}</option>
      </select>
    </div>
    <div class="col-3 text-right">
      <select class="form-control form-control-sm" formControlName="Master" id="master" (change)="changeMaster()">
        <option value="" hidden>Master</option>
      </select>
    </div>
    <div class="col-3 text-right">
      <select class="form-control form-control-sm" formControlName="Cds" id="centros">
        <option value="" hidden>CDS</option>
      </select>
    </div>
    <div class="col-3 text-right">
      <a class="btn btn-sm btnicono" (click)="nuevosCasosAsignados()"> Filtrar </a>
    </div>
  </div>
  </form>

   <div class="row mb-3" *ngIf="_global.casosAsignados.recientes[0]">
     <div class="col-12 ">

       <table class="table table-striped table-bordered">
         <tr>
           <th>País</th>
           <th>No. de Reporte</th>
           <th>Nombre o Razón Social</th>

           <th>Fecha de Registro</th>
           <th>Tipo de Caso</th>
           <th>Modelo</th>
           <th>Producto</th>
           <th>No. de Serie</th>
           <th>Aplica Garantía</th>
           <th>Días Transcurridos</th>
           <th>Proceso</th>
           <th>Status Reporte</th>
           <th>Status CDs</th>
           <th>Categoría</th>
           <th>Selección</th>
         </tr>

         <tr *ngFor="let item of _global.casosAsignados.recientes;">

           <td>
             {{item.Pais}}
           </td>
           <td>
             {{item.id}}
           </td>
           <td>
             {{item.RazonSocial}} {{item.Nombre}} {{item.APaterno}} {{item.AMaterno}}
           </td>

           <td>
			       {{item.FechaRegistroReporteNF}}
           </td>
           <td>
             {{item.TipoCaso}}
           </td>
           <td>
             {{item.Modelo}}
           </td>
           <td>
             {{item.Tipo}}
           </td>
           <td>
             {{item.NoSerie}}
           </td>
           <td [innerHtml]="aplicaGarantia(item.AplicaGarantia)">

           </td>
           <td [ngClass]="this._global.diasTranscurridosColor(item.FechaRegistroReporte)">
             {{this._global.diasTranscurridos(item.FechaRegistroReporte)}}
           </td>
           <td>
             {{item.StatusReporte}}
           </td>
           <td>
             Asignado
           </td>
           <td>
             Abierto
           </td>
           <td>
             {{item.Categoria}}
           </td>
           <td *ngIf="this._global.user.nivel=='distribuidor'">
             <button *ngIf="(item.Categoria!='MENAJE' || item.Modelo=='OS-17001' || item.Modelo=='OS-17001-1') && item.StatusCambioFisico=='Aprobado'" (click)="this._global.seleccionarReporte(item.id, 'inicio/resumen/orden')" class="btn btn-sm">Seleccionar</button>
             <button *ngIf="item.Categoria=='MENAJE'" (click)="this._global.seleccionarReporte(item.id, 'inicio/resumen')" class="btn btn-sm">Seleccionar</button>
           </td>
           <td *ngIf="this._global.user.nivel!='distribuidor'">
             <button *ngIf="(this._global.user.nivel!='administrador') && (item.Categoria!='MENAJE' || item.Modelo=='OS-17001' || item.Modelo=='OS-17001-1')" (click)="this._global.seleccionarReporte(item.id, 'inicio/resumen')" class="btn btn-sm">Seleccionar</button>
             <button *ngIf="this._global.user.nivel!='administrador' && item.Categoria=='MENAJE' && item.Modelo!='OS-17001' && item.Modelo!=='OS-17001-1'" (click)="this._global.seleccionarReporte(item.id, 'registro-de-casos/orden-de-servicio/inicio')" class="btn btn-sm">Seleccionar</button>
             <button *ngIf="this._global.user.nivel=='administrador'" (click)="this._global.seleccionarReporte(item.id, 'registro-de-casos/reparacion/inicio')" class="btn btn-sm">Seleccionar</button>
           </td>
         </tr>

       </table>

     </div>
   </div>


   <!--*ngIf="this._global.user.nivel!='distribuidor'"-->
   <div class="row mt-5 mb-2">
     <div class="col-8">
       <h3>Últimas Órdenes de Servicio Generadas</h3>
     </div>
     <div class="col-4 text-right">
       <a routerLink="/inicio/ordenes-de-servicio/">Ver todas</a>
     </div>
   </div>
   <form  name="formulariofiltros" [formGroup]="filterOrdenesForm" *ngIf="this._global.user.nivel=='administrador'">
   <div class="row mt-3 mb-2">
     <div class="col-3 text-right">
       <select class="form-control form-control-sm" formControlName="Pais" (change)="changePais('masterOrdenes')">
         <option value="" hidden="">País</option>
         <option *ngFor="let item of _global.paises;" value="{{item.Pais}}">{{item.Pais}}</option>
       </select>
     </div>
     <div class="col-3 text-right">
       <select class="form-control form-control-sm" formControlName="Master" id="masterOrdenes" (change)="changeMaster('centrosOrdenes')">
         <option value="" hidden>Master</option>
       </select>
     </div>
     <div class="col-3 text-right">
       <select class="form-control form-control-sm" formControlName="Cds" id="centrosOrdenes">
         <option value="" hidden>CDS</option>
       </select>
     </div>
     <div class="col-3 text-right">
       <a class="btn btn-sm btnicono" (click)="nuevasOrdenesServicio()"> Filtrar </a>
     </div>
   </div>
   </form>
   <!-- && this._global.user.nivel!='distribuidor'-->
   <div class="row mb-3" *ngIf="_global.ordenesServicio.recientes[0]">
     <div class="col-12">

       <table class="table table-striped table-bordered">
         <tr>
           <th>País</th>
           <th>No. de Orden</th>
           <th>Nombre o Razón Social</th>

           <th>Fecha de Registro</th>
           <th>Tipo de Caso</th>
           <th>Modelo</th>
           <th>Producto</th>
           <th>No. de Serie</th>
           <th>Tipo de Reclamo</th>
           <th>Proceso</th>
           <th>Status</th>
           <th>Selección</th>
         </tr>

         <tr *ngFor="let item of _global.ordenesServicio.recientes;">

           <td>
             {{item.Pais}}
           </td>
           <td>
             {{item.id}}
           </td>
           <td>
             {{item.RazonSocial}} {{item.Nombre}} {{item.APaterno}} {{item.AMaterno}}
           </td>

           <td>
             {{item.FechaRegistroReporteNF}}
           </td>
           <td>
             {{item.TipoCaso}}
           </td>
           <td>
             {{item.Modelo}}
           </td>
           <td>
             {{item.Tipo}}
           </td>
           <td>
             {{item.NoSerie}}
           </td>
           <td *ngIf="item.TipoReclamoDiagnostico=='Cambio'">
             {{item.TipoReclamoDiagnostico}} - {{item.StatusCambioFisico}}
           </td>
           <td *ngIf="item.TipoReclamoDiagnostico!='Cambio'">
             {{item.TipoReclamoDiagnostico}}
           </td>
           <td>
             {{item.StatusReporte}}
           </td>
           <td>
             {{item.SubStatusReporte}}
           </td>
           <td>
             <!--item.StatusCambioFisico {{item.StatusCambioFisico}}<br>
             item.TipoReclamoDiagnostico {{item.TipoReclamoDiagnostico}}-->
             <button *ngIf="item.StatusCambioFisico=='' && item.TipoReclamoDiagnostico=='Cambio' " (click)="this._global.seleccionarReporte(item.id, 'inicio/resumen/orden')" class="btn btn-sm">Seleccionar</button>
             <button *ngIf="item.StatusCambioFisico=='Rechazado'" (click)="this._global.seleccionarReporte(item.id, 'registro-de-casos/orden-de-servicio/inicio')" class="btn btn-sm">Seleccionar</button>
             <button *ngIf="item.TipoReclamoDiagnostico!='Cambio' || item.StatusCambioFisico=='Aprobado'" (click)="this._global.seleccionarReporte(item.id, 'inicio/resumen/orden')" class="btn btn-sm">Seleccionar</button>
           </td>
         </tr>

       </table>

     </div>
   </div>



   <div class="row mt-5 mb-3">
     <div class="col-8">
       <h3>Nuevos Clientes Registrados</h3>
     </div>
     <div class="col-4 text-right">
       <a routerLink="/inicio/clientes/">Ver todos</a>
     </div>
   </div>

   <div class="row mb-5" *ngIf="_global.clientes.recientes[0]">
     <div class="col-12">

       <table class="table table-striped table-bordered">
         <tr>
           <th>País</th>
           <th>Ciudad</th>
           <th>Nombre o Razón Social</th>
           <th>Fecha de Registro</th>
           <th>Teléfono</th>
           <th>Teléfono 2</th>
           <th>Email</th>
           <th>Selección</th>
         </tr>

         <tr *ngFor="let item of _global.clientes.recientes;">

           <td>
             {{item.Pais}}
           </td>
           <td>
             {{item.IDEstado}}
           </td>
           <td>
             {{item.RazonSocial}} {{item.Nombre}} {{item.APaterno}} {{item.AMaterno}}
           </td>
           <td>
			       {{item.FechaRegistroReporteNF}}
           </td>
           <td>
             {{item.Telefono}}
           </td>
           <td>
             {{item.Movil}}
           </td>
           <td>
             {{item.Email}}
           </td>
           <td>
             <button (click)="this._global.verPerfil(item.id)" class="btn btn-sm">Seleccionar</button>
           </td>
         </tr>

       </table>

     </div>
   </div>





</div>
