
<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-12 text-center">
      <h1>Bienvenido a Oster Solution Center</h1>
    </div>
    <div class="col-6 offset-3 formulariologin">
      <form class="formulario formulariologin" name="formulariologin" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <label>
          <input type="text" class="form-control form-control-sm" formControlName="usuario" placeholder="Usuario" />
          <span class="alert alert-danger" *ngIf="!loginForm.controls.usuario.valid && loginForm.controls.usuario.touched">
            Por favor ingresa un email válido
          </span>

        </label>
        <label>
          <input type="password" class="form-control form-control-sm" formControlName="pwd" placeholder="Contraseña" />
          <span class="alert alert-danger" *ngIf="!loginForm.controls.pwd.valid && loginForm.controls.pwd.touched">
            Este campo es requerido
          </span>
        </label>
        <label class="text-center">
          <button class="btn btn-sm" type="submit">Entrar</button>
        </label>
      </form>
    </div>
    <div class="col-6 offset-3 text-center">
        <a routerLink="/olvido">¿Olvidaste tu contraseña?</a>
    </div>
    <div class="col-6 offset-3 text-center alert-danger">
        {{_global.appstatus.mensaje}}
    </div>
  </div>
</div>
