<!--div class="container">
  <div class="row mt-5">
    <div class="col-12 mt-1">
      <h2 class="alert-danger px-2">{{_global.appstatus.mensaje}}</h2>
    </div>
  </div>
</div-->


 <div class="container">


   <div class="row mt-3">
     <div class="col-6">
       <i class="fa fa-user-circle"></i> Bienvenido {{_global.user.nombre}} <br> No. Operador: {{_global.user.id}}
     </div>


   </div>
  <hr>

   <div [hidden]="!(_global.user.nivel == 'administrador')">

     <!---->
     <div class="row mt-5 mb-2">
       <div class="col-12">
         <h3>Autorizar Refacciones</h3>
       </div>
     </div>

     <div class="row mb-3" *ngIf="_global.refaccionesXAutorizar.recientes[0]">
       <div class="col-12 ">

         <table datatable [dtOptions]="dtOptions" [dtTrigger]="trigger"  id="tabla" class="table table-striped table-bordered">
           <thead>
           <tr>
             <th>País</th>
             <th>No. de Reporte</th>
             <th>CDS</th>

             <th>Fecha de Registro</th>
             <th>Tipo de Caso</th>

             <th>Nombre Refaccion</th>
             <th>No. Parte</th>



             <th>Días Transcurridos</th>

             <th>Status</th>

             <th>Disponibilidad</th>
             <th>Fecha Entrega</th>
             <th>Acción</th>


             <th>Selección</th>
           </tr>
           </thead>

           <tbody>

           <tr *ngFor="let item of _global.refaccionesXAutorizar.recientes;" class="formulario">

             <td>
               {{item.Pais}}
             </td>
             <td>
               {{item.id}}
             </td>
             <td>
               {{item.NombreCentro}}
             </td>

             <td>
			         {{item.FechaRegistroReporteNF}}
             </td>
             <td>
               {{item.TipoCaso}}
             </td>

             <td>
               {{item.Refacciones.NombreRefaccion}}
             </td>
             <td>
               {{item.Refacciones.NoParte}}
             </td>



             <td [ngClass]="this._global.diasTranscurridosColor(item.FechaRegistroReporte)">
               {{this._global.diasTranscurridos(item.FechaRegistroReporte)}}
             </td>
             <td>
               <span [innerHTML]="this._global.setStatusRefaccion(item.Refacciones.StatusCotizacion)"></span>
             </td>

             <td>
               {{item.Refacciones.Existencia}}
             </td>

             <td>
               {{item.Refacciones.FechaEntrega.day}}/{{item.Refacciones.FechaEntrega.month}}/{{item.Refacciones.FechaEntrega.year}}<br>
             </td>

             <td>
               <button (click)="this._global.evaluaRefaccion(item.id, item.Refacciones.NoParte)" class="btn btn-sm">Cambiar Status</button>
             </td>


             <td>
               <button (click)="this._global.seleccionarReporte(item.id, 'inicio/resumen')" class="btn btn-sm">Ver reporte</button>
             </td>
           </tr>
           </tbody>

         </table>

       </div>
     </div>
     <div class="row mb-3 ml-2" *ngIf="!_global.refaccionesXAutorizar.recientes[0]">No hay refacciones por autorizar.</div>
</div>
