<!--div class="container">
  <div class="row mt-5">
    <div class="col-12 mt-1">
      <h2 class="alert-danger px-2">{{_global.appstatus.mensaje}}</h2>
    </div>
  </div>
</div-->


 <div class="container">


   <div class="row mt-3">
     <div class="col-6">
       <i class="fa fa-user-circle"></i> Bienvenido {{_global.user.nombre}} <br> No. Operador: {{_global.user.id}}
     </div>


   </div>
  <hr>

   <div [hidden]="!(_global.user.nivel == 'administrador')">

     <!---->
     <div class="row mt-5 mb-2">
       <div class="col-12">
         <h3>Cambios físicos por autorizar - Distribuidores</h3>
       </div>
     </div>

     <div class="row mb-3" *ngIf="_global.cambiosFisicosXAutorizarDist.recientes[0]">
       <div class="col-12 ">

         <table datatable [dtOptions]="dtOptions" [dtTrigger]="trigger"  id="tabla" class="table table-striped table-bordered">
           <thead>
           <tr>
             <th>País</th>
             <th>No. de Reporte</th>
             <th>CDS</th>

             <th>Fecha de Registro</th>
             <th>Tipo de Caso</th>

             <!--th>Tarifa Despiece</th>
             <th>Tarifa Reciclaje</th>
             <th>Tarifa Otro Monto</th-->
             <!--th>Descripcion Otro Monto</th-->

             <th>Costo Landed</th>
             <th>Otro Costo</th>

             <th>Días Transcurridos</th>
             <th>Status Costo Landed</th>

             <th>Status</th>

             <th>Acción</th>


             <th>Selección</th>
           </tr>
           </thead>
           <tbody>
           <tr *ngFor="let item of _global.cambiosFisicosXAutorizarDist.recientes;" class="formulario">

             <td>
               {{item.Pais}}
             </td>
             <td>
               {{item.id}}
             </td>
             <td>
               {{item.NombreCentro}}
             </td>

             <td>
                {{item.FechaRegistroReporteNF}}
             </td>
             <td>
               {{item.TipoCaso}}
             </td>

             <!--td>
               {{item.MontoDespiece|currency}} USD
             </td>
             <td>
               {{item.MontoReciclaje|currency}} USD
             </td>
             <td>
               {{item.MontoOtro|currency}} USD
             </td-->
             <!--td>
               {{item.MontoOtroDescripcion}}
             </td-->
             <td>
               {{item.CostoLanded|currency}} USD
             </td>
             <td>
               {{item.OtroCostoDistribuidor|currency}} USD
             </td>

             <td [ngClass]="this._global.diasTranscurridosColor(item.FechaRegistroReporte)">
               {{this._global.diasTranscurridos(item.FechaRegistroReporte)}}
             </td>
             <td>
               {{item.StatusCostoLanded}}
             </td>
             <td>
               {{item.StatusCambioFisico}}
             </td>



             <td>
               <button (click)="this._global.evaluaCostoLanded(item.id)" class="btn btn-sm">Cambiar Status</button>
             </td>


             <td>
               <button (click)="this._global.seleccionarReporte(item.id, 'inicio/resumen/orden')" class="btn btn-sm">Ver reporte</button>
             </td>
           </tr>
           </tbody>
         </table>

       </div>
     </div>
    <div class="row mb-3 ml-2" *ngIf="!_global.cambiosFisicosXAutorizarDist.recientes[0]">No hay cambios físicos por autorizar.</div>
</div>
