<!--div class="container">
  <div class="row mt-5">
    <div class="col-12 mt-1">
      <h2 class="alert-danger px-2">{{_global.appstatus.mensaje}}</h2>
    </div>
  </div>
</div-->

 <div class="container">


   <div class="row mt-3">
     <div class="col-6">
       <i class="fa fa-user-circle"></i> Bienvenido {{_global.user.nombre}} <br> No. Operador: {{_global.user.id}}
     </div>


   </div>


  <hr>
   <div class="row mt-5 mb-2">
     <div class="col-8">
       <h3>Órdenes de Servicio Generadas</h3>
     </div>
     <div class="col-4 text-right">
       <a routerLink="/inicio/">Regresar</a>
     </div>
   </div>

   <div class="row mb-5" *ngIf="_global.ordenesServicio.recientes[0]">
     <div class="col-12 mb-5">

       <table datatable [dtOptions]="this._global.dtOptions" [dtTrigger]="trigger" class="table table-striped table-bordered">
         <thead>
         <tr>
           <th>País</th>
           <th>No. de Orden</th>
           <th>CDS</th>
           <th>Nombre o Razón Social</th>

           <th>Fecha de Registro</th>
           <th>Tipo de Caso</th>
           <th>Modelo</th>
           <th>Producto</th>
           <th>No. de Serie</th>
           <th>Tipo de Reclamo</th>
           <th>Proceso</th>
           <th>Status</th>
           <th>Selección</th>
         </tr>
         </thead>
         <tbody>
         <tr *ngFor="let item of _global.ordenesServicio.recientes;">

           <td>
             {{item.Pais}}
           </td>
           <td>
             {{item.id}}
           </td>
           <td>
             {{item.NombreCentro}}
           </td>
           <td>
             {{item.RazonSocial}} {{item.Nombre}} {{item.APaterno}} {{item.AMaterno}}
           </td>

           <td>
             {{item.FechaRegistroReporte}}
           </td>
           <td>
             {{item.TipoCaso}}
           </td>
           <td>
             {{item.Modelo}}
           </td>
           <td>
             {{item.Tipo}}
           </td>
           <td>
             {{item.NoSerie}}
           </td>
           <td>
             {{item.TipoReclamo}}
           </td>
           <td>
             {{item.StatusReporte}}
           </td>
           <td>
             {{item.SubStatusReporte}}
           </td>
           <td>
             <button (click)="this._global.seleccionarReporte(item.id, 'inicio/resumen')" class="btn btn-sm">Seleccionar</button>
           </td>
         </tr>
       </tbody>
       </table>

     </div>
   </div>







</div>
