
<div class="container">
  <div class="row mt-5">
    <div class="col-8">
      <h3><b>Resumen de la Orden de Servicio #{{_global.reporte.idreporte}}</b></h3>
    </div>

    <div class="col-4 text-right">
      <button class="btn" *ngIf="(_global.reporte.objreporte.StatusReporte!='Eliminado') && this._global.user.IDMaster == 0" (click)="eliminarReporte(this._global.reporte.idreporte)">Eliminar </button>&nbsp;
      <button class="btn" (click)="imprimirReporte()"><i class="fa fa-print"></i> Imprimir </button>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-12">

      <div class="row">
        <div class="col-5">
          <b>Nombre o Razón Social del Cliente:</b>
        </div>
        <div class="col-5">
          {{_global.cliente.objeto.RazonSocial}} {{_global.cliente.objeto.Nombre}} {{_global.cliente.objeto.APaterno}} {{_global.cliente.objeto.AMaterno}}
        </div>

      </div>
      <div class="row">
        <div class="col-5">
          <b>Tipo:</b>
        </div>
        <div class="col-5">
          {{_global.cliente.objeto.TipoPersona}}
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <b>No. de Cliente:</b>
        </div>
        <div class="col-5">
          {{_global.cliente.objeto.id}}
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <b>Fecha de Registro:</b>
        </div>
        <div class="col-5">
          {{_global.cliente.objeto.FechaRegistro}}
        </div>
        <div class="col-2 text-right">
          <a class="btn" routerLink="/inicio/cliente/detalle/">Ver perfil</a>
        </div>
      </div>


      <hr>

    </div>
  </div>
</div>



<div class="container">


    <div class="row sameheight mt-2">

      <div class="col-sm-4">
        <div class="px-4 bright">
          <div class="sform">1. Distribuidor</div>
          <div class="vform">{{this.RazonSocialDistribuidor}}</div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="px-4 bright">
          <div class="sform">2. Home Products Group No:</div>
          <div class="vform">{{this._global.reporte.objreporte.Distribuidor}}</div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="px-4">
          <div class="sform">3. Tipo Reclamo:</div>
          <div class="vform">{{this._global.reporte.objreporte.TipoReclamoDiagnostico}} </div>
        </div>
      </div>
    </div><!--row-->
    <!--DATOS GENERALES-->
    <div class="row mt-2">
      <div class="col-sm-12 my-3">
        <h4 class="mt-3 naranja"><b>Datos Generales</b></h4>
        <hr />
      </div>
    </div>

    <div class="row sameheight mt-2">
      <div class="col-sm-4">
        <div class="px-4 bright">
          <div class="sform mb-3">4. Información del Producto</div>
          <div class="vform"><div class="vformleft">Categoría: </div> <div class="vformright">{{this._global.reporte.objreporte.Categoria}} </div></div>
          <div class="vform"><div class="vformleft">Subcategoría: </div> <div class="vformright">{{this._global.reporte.objreporte.Subcategoria}} </div></div>
          <div class="vform"><div class="vformleft">Modelo: </div> <div class="vformright">{{this._global.reporte.objreporte.Modelo}} </div></div>
          <div class="vform"><div class="vformleft">Producto: </div> <div class="vformright">{{this._global.reporte.objreporte.Tipo}} </div></div>
          <div class="vform"><div class="vformleft">No. de serie: </div> <div class="vformright">{{this._global.reporte.objreporte.NoSerie}} </div></div>
          <div class="vform">
            <div class="vformleft">Condición General: </div>
            <div class="vformright">{{this._global.reporte.objreporte.CondicionProductoDiagnostico}} </div>
          </div>
          <div class="vform">
            <div class="vformleft">Número de Factura: </div>
            <div class="vformright">{{this._global.reporte.objreporte.NoFactura}} </div>
          </div>

          <div class="vform">
            <div class="vformleft">Fecha de Factura: </div>
            <div class="vformright">{{_global.reporte.objreporte.FechaCompra | date: 'dd/MM/yyyy'}}</div>
          </div>
          <div class="vform"><div class="vformleft">Uso del Producto: </div> <div class="vformright">{{this._global.reporte.objreporte.Uso}} </div></div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="px-4 bright">
          <div class="sform mb-3">5. Información del Cliente:</div>
          <div class="vform"><div class="vformleft">Nombre: </div> <div class="vformright">{{this._global.cliente.objeto.RazonSocial}} {{this._global.cliente.objeto.Nombre}} {{this._global.cliente.objeto.APaterno}} {{this._global.cliente.objeto.AMaterno}} </div></div>
          <div class="vform"><div class="vformleft">Dirección: </div> <div class="vformright">{{this._global.cliente.objeto.Direccion}} </div></div>
          <div class="vform"><div class="vformleft">Estado: </div> <div class="vformright">{{this._global.cliente.objeto.IDEstado}} </div></div>
          <div class="vform"><div class="vformleft">Ciudad: </div> <div class="vformright">{{this._global.cliente.objeto.IDLocalidad}} </div></div>
          <div class="vform"><div class="vformleft">Teléfono: </div> <div class="vformright">{{this._global.cliente.objeto.Telefono}} </div></div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="px-4">
          <div class="sform mb-3">6. Información del Centro de Servicio</div>
          <div class="vform"><div class="vformleft">Ref. Cliente: </div> <div class="vformright">{{this._global.cliente.objeto.id}} </div></div>
          <div class="vform"><div class="vformleft">Nombre Taller: </div> <div class="vformright">{{this._global.user.NombreCentro}}</div></div>
          <div class="vform"><div class="vformleft">Atendió: </div> <div class="vformright">{{this._global.user.nombre}}</div></div>
          <div class="vform"><div class="vformleft">Email: </div> <div class="vformright">{{this._global.user.Email}}</div></div>
          <div class="vform"><div class="vformleft">Teléfono(s): </div> <div class="vformright">{{this._global.user.Telefono1}} <br> {{this._global.user.Telefono2}} <br> {{this._global.user.Telefono3}}</div></div>
        </div>
      </div>
    </div>

    <!--DAÑO DE PRODUCTO-->
    <div class="row mt-2">
      <div class="col-sm-12 my-3">
        <h4 class="mt-3 naranja"><b>Daño del Producto</b></h4>
        <hr />
      </div>
    </div>

    <div class="row sameheight mt-2">
      <div class="col-sm-6">
        <div class="px-4 bright">
          <div class="sform mb-3">7. Información de daño del Producto</div>
          <div class="vform"><div class="vformleft">Fecha reportada por cliente: </div> <div class="vformright">{{_global.reporte.objreporte.FechaRegistroReporte.replace("00:00:00", "")}}</div></div>
          <div class="vform">
            <div class="vformleft">No. de parte que causó el daño: </div>
            <div class="vformright">{{this._global.reporte.objreporte.NoParteCausoDano}} </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="px-4">
          <div class="sform mb-3">8. Información de daño del Producto</div>
          <div class="vform"><div class="vformleft">Descripción de la falla: </div> <div class="vformright">{{_global.reporte.objreporte.ObservacionesCDSDiagnostico}}</div></div>
          <div class="vform" *ngIf="_global.reporte.objreporte.TipoReclamoDiagnostico == 'Cambio'"><div class="vformleft">Motivo de cambio: </div> <div class="vformright">{{_global.reporte.objreporte.MotivoCambioDiagnostico}}</div></div>

          <div class="vform">
            <div class="vformleft">Resolución: </div>
            <div class="vformright">{{this._global.reporte.objreporte.Resolucion}} </div>
          </div>
        </div>
      </div>
    </div>

    <!--COSTOS DE REPARACIÓN-->
    <div class="row mt-2" *ngIf="_global.user.nivel!='distribuidor'">
      <div class="col-sm-12 my-3">
        <h4 class="mt-3 naranja"><b>Costos de Refacciones</b></h4>
        <hr />
      </div>
    </div>

    <!--REFACCIONES -->
    <div class="row mt-2" *ngIf="_global.user.nivel!='distribuidor'">
      <div class="col-12">
        <div class="sform mb-3">9. Partes utilizadas</div>

        <!--tabla-->
        <div class="row my-5" *ngIf="_global.refacciones[0]">
          <div class="col-12 mb-5">

            <table>
              <tr>
                <th>Cantidad</th>
                <th>Descripción/No. Parte</th>
                <th>Precio Unitario</th>
                <th>Importe</th>
                <th>Status cotización</th>
                <th>Status refacción</th>

              </tr>

              <tr *ngFor="let item of _global.refacciones; let i = index">

                <td>
                  {{item.Cantidad}}
                </td>
                <td>
                  {{item.NombreRefaccion}} - {{item.NoParte}}
                </td>
                <td>
                  {{item.CostoUnitario | currency}}
                  <!--${{item.CostoUnitario}}-->
                </td>
                <td>
                  {{item.CostoTotal | currency}}
                  <!--${{item.CostoTotal}}-->
                </td>
                <td>
                  {{item.StatusCotizacion}}
                </td>
                <td>
                  {{item.Existencia}}
                </td>

              </tr>

            </table>

          </div>
        </div>
        <div class="mb-5" *ngIf="!_global.refacciones[0]">No requiere refacciones.</div>
      </div>
      <!--termina REFACCIONES -->

    </div>
    <!--this._global.reporte.objreporte.TipoReclamoDiagnostico=='Cambio' && this._global.user.nivel!='distribuidor'-->
  <div class="row" [hidden]="this._global.user.nivel=='distribuidor'">
    <div class="col-sm-4">
      <div class="ml-3">
        <div class="sform mb-3">10. Tarifa</div>
        <div class="">{{this.tiporeparacion.SubtipoServicio}} </div>
      </div>


    </div>

    <div class="offset-sm-4 col-sm-4">
      <form name="formulariotarifas" [formGroup]="genericForm">
      <div class="vform"><div class="vformleft aright">Valor de Refacciones: </div> <div class="vformright"> {{this._global.reporte.objreporte.MontoRefacciones | currency}} &nbsp;USD</div></div>
      <div class="vform"><div class="vformleft aright">Atención Técnica: </div> <div class="vformright"> {{this._global.reporte.objreporte.MontoReparacion | currency}} &nbsp;USD</div></div>
      <div class="vform"><div class="vformleft aright">Movilización: </div> <div class="vformright"> {{this._global.reporte.objreporte.MontoMovilizacion | currency}} &nbsp;USD</div></div>

      <div [hidden]="!(this._global.reporte.objreporte.TipoReclamoDiagnostico == 'Cambio')">
        <div class="vform" *ngIf="this.editarReciclaje==true"><div class="vformleft aright">Despiece: </div> <div class="vformright"> $<input type="text" min="0" class="form-control-static" formControlName="MontoDespiece" id="MontoDespiece"  value={{this._global.reporte.objreporte.MontoDespiece}} (change)="changeMontoDespiece()" />&nbsp;USD</div></div>
        <div class="vform" *ngIf="this.editarReciclaje==false"><div class="vformleft aright">Despiece: </div> <div class="vformright"> {{this._global.reporte.objreporte.MontoDespiece | currency}} &nbsp;USD</div></div>

        <div class="vform" *ngIf="this.editarReciclaje==true"><div class="vformleft aright">Reciclaje: </div> <div class="vformright"> $<input type="text" min="0" class="form-control-static" formControlName="MontoReciclaje" id="MontoReciclaje"  value={{this._global.reporte.objreporte.MontoReciclaje}} (change)="changeMontoDespiece()" />&nbsp;USD</div></div>
        <div class="vform" *ngIf="this.editarReciclaje==false"><div class="vformleft aright">Reciclaje: </div> <div class="vformright"> {{this._global.reporte.objreporte.MontoReciclaje | currency}} &nbsp;USD</div></div>

        <div class="vform" *ngIf="this.editarReciclaje==true"><div class="vformleft aright">Otro Costo: </div> <div class="vformright"> $<input type="text" min="0" class="form-control-static" formControlName="MontoOtro" id="MontoOtro" value={{this._global.reporte.objreporte.MontoOtro}} (change)="changeMontoDespiece()" />&nbsp;USD</div></div>
        <div class="vform" *ngIf="this.editarReciclaje==false"><div class="vformleft aright">Otro Costo: </div> <div class="vformright"> {{this._global.reporte.objreporte.MontoOtro | currency}} &nbsp;USD</div></div>

        <div class="vform" *ngIf="this.editarReciclaje==true"><div class="vformleft aright">Otro Costo (Descripción): </div> <div class="vformright"> <input type="text" min="0" class="form-control-static" formControlName="MontoOtroDescripcion"  id="MontoOtroDescripcion" value={{this._global.reporte.objreporte.MontoOtroDescripcion}} /></div></div>
        <div class="vform" *ngIf="this.editarReciclaje==false"><div class="vformleft aright">Otro Costo (Descripción): </div> <div class="vformright"> {{this._global.reporte.objreporte.MontoOtroDescripcion}}</div></div>
      </div>

      <!--<div class="vform"><div class="vformleft aright">Costo Landed: </div> <div class="vformright"> $<span [innerHTML]="calculaValorRepuestos()"></span> USD</div></div>-->
      <div class="vform"><div class="vformleft aright">Subtotal: </div> <div class="vformright"> {{this._global.reporte.objreporte.MontoSubtotal | currency}} &nbsp;USD</div></div>
      <div class="vform"><div class="vformleft aright">IVA%: </div> <div class="vformright"> {{this._global.reporte.objreporte.MontoIVA | currency}}&nbsp;USD</div></div>
      <div class="vform bold negro"><div class="vformleft aright">Total: </div> <div class="vformright"> {{this._global.reporte.objreporte.MontoTotal | currency}}&nbsp;USD</div></div>
      </form>
    </div>

   </div>


    <!--Archivos adjuntos-->
    <div class="row" [hidden]="this._global.reporte.objreporte.TipoReclamoDiagnostico=='Cambio' && this._global.user.nivel=='distribuidor'">
      <div class="col-sm-12 my-3">
        <h4 class="mt-3 naranja"><b>Archivos adjuntos</b></h4>
        <hr />
      </div>
    </div>

    <div class="row" [hidden]="this._global.reporte.objreporte.TipoReclamoDiagnostico=='Cambio' && this._global.user.nivel=='distribuidor'">
      <div class="col-sm-4 mb-5">
        <div class="row">
          <div class="col-4 text-left">
            <div class="sform mb-3">11. <i>Factura o ticket de compra</i> del producto:</div>
          </div>
          <div class="col-8">
            <div class="row no-gutters">
              <div class="col-12 mb-1 attachments">
                <div class="prev" *ngFor="let item of _global.AdjuntosFacturasNotasCompraArre; let i = index"  [innerHTML]="prevAttach(item)"></div>
                <div *ngIf="!_global.AdjuntosFacturasNotasCompraArre[0]">No hay</div>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-5">
        <div class="row">
          <div class="col-4 text-left">
            <div class="sform mb-3">12. <i>Fotos del modelo y no. serie</i> de producto:</div>
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-12 mb-1 attachments">
                <div class="prev" *ngFor="let item of _global.AdjuntosFotosModeloSerieArre; let i = index" [innerHTML]="prevAttach(item)"></div>
                <div *ngIf="!_global.AdjuntosFotosModeloSerieArre[0]">No hay</div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-5" *ngIf="_global.AdjuntosFacturasRepuestosArre[0]">
        <div class="row">
          <div class="col-4 text-left">
            <div class="sform mb-3">13. <i>Facturas de repuestos</i> utilizados:</div>
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-12 mb-1 attachments">
                <div class="prev" *ngFor="let item of _global.AdjuntosFacturasRepuestosArre; let i = index" [innerHTML]="prevAttach(item)"></div>
                <div *ngIf="!_global.AdjuntosFacturasRepuestosArre[0]">No hay</div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-5" *ngIf="_global.AdjuntosFacturasNotasCompraArre[0]=='' && this._global.reporte.objreporte.Categoria!='MENAJE'">
        <div class="row">
          <div class="col-4 text-left">
            <div class="sform mb-3">14. Adjuntar <i>otro</i>:</div>
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-12 mb-1 attachments">
                <div class="prev" *ngFor="let item of _global.AdjuntosOtrosArre; let i = index"  [innerHTML]="prevAttach(item)"></div>
                <div *ngIf="!_global.AdjuntosOtrosArre[0]">No hay</div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-4 mb-5" *ngIf="_global.AdjuntosReciclajeArre[0]!='' && this._global.reporte.objreporte.RequiereRecoleccion=='1'">
        <div class="row">
          <div class="col-4 text-left">
            <div class="sform mb-3">13. <i>Comprobante reciclaje</i>:</div>
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-12 mb-1 attachments">
                <div class="prev" *ngFor="let item of _global.AdjuntosReciclajeArre; let i = index"  [innerHTML]="prevAttach(item)"></div>
                <div *ngIf="!_global.AdjuntosReciclajeArre[0]">No hay</div>
              </div>
            </div>

          </div>
        </div>
      </div>


    </div><!--termina Archivos Adjuntos-->

    <!--Archivos adjuntos CAMBIO FISICO-->
    <div class="row" *ngIf="this._global.reporte.objreporte.StatusCambioFisico=='Aprobado' && this._global.reporte.objreporte.StatusCostoLanded=='Aprobado' && !this._global.esDistribuidor()">
      <div class="col-sm-12 my-3">
        <h4 class="mt-3 naranja"><b>Archivos adjuntos para Cambio Físico</b></h4>
        <hr />
      </div>
    </div>
    <div class="col-sm-4 mb-5" *ngIf="_global.AdjuntosReciclajeArre[0]!='' && this._global.reporte.objreporte.StatusCambioFisico=='Aprobado' && this._global.reporte.objreporte.SubStatusReporte=='Cerrado' && !this._global.esDistribuidor()">
      <div class="row">
        <div class="col-4 text-left">
          <div class="sform mb-3">13. <i>Comprobante reciclaje</i>:</div>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-12 mb-1 attachments">
              <div class="prev" *ngFor="let item of _global.AdjuntosReciclajeArre; let i = index"  [innerHTML]="prevAttach(item)"></div>
              <div *ngIf="!_global.AdjuntosReciclajeArre[0]">No hay</div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <form class="formulario formularioRegistro my-3" name="formulariocambiofisico" [formGroup]="adjuntosCambioFisicoForm" (ngSubmit)="submitAdjuntosCambioFisico()" *ngIf="this._global.reporte.objreporte.StatusCambioFisico=='Aprobado' && this._global.reporte.objreporte.SubStatusReporte=='Abierto' && !this._global.esDistribuidor()">
    <div class="row" *ngIf="this._global.reporte.objreporte.TipoReclamoDiagnostico == 'Cambio' && this._global.reporte.objreporte.StatusCostoLanded=='Aprobado'">


      <div class="col-sm-4 mb-5">
        <div class="row">
          <div class="col-4 text-left">
            <div class="sform mb-3">14. <i>Comprobante reciclaje</i>:</div>
          </div>
          <div class="col-8">
            <div class="row no-gutters">
              <div class="col-12 mb-1 attachments" *ngIf="_global.AdjuntosReciclajeArre.length==0">

                <ng2-file-input (onAction)="onActionReciclaje($event)"></ng2-file-input>
                <div class="alert alert-danger" *ngIf="this.ReciclajeLenght==0 && this.adjuntosValidosCambioFisico==false">
                  Este campo es requerido
                </div>
                <!-- <div *ngIf="_global.AdjuntosReciclajeArre.length<2">No hay</div> -->
              </div>
              <div class="col-12 mb-1 attachments" *ngIf="_global.AdjuntosReciclajeArre.length>0">
                <div class="prev" *ngFor="let item of _global.AdjuntosReciclajeArre; let i = index"  [innerHTML]="prevAttach(item)"></div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="col-8"></div>
    </div>
<!--termina Archivos Adjuntos CAMBIO FISICO-->

<!--REFACCIONES -->
<div class="row mt-2" *ngIf="_global.reporte.objreporte.RefaccionesRecuperadas.length>0">
  <div class="col-12">
    <div class="sform mb-3">15. <i>Refacciones recuperadas del producto</i>:</div>

    <!--tabla-->
    <div class="row my-5">
      <div class="col-12 mb-5">

        <table class="w-50">
          <tr>
            <th>Descripción/No. Parte</th>
            <th>Cantidad</th>
          </tr>

          <tr *ngFor="let item of _global.refaccionesrecuperadas; let i = index">
            <td>
              {{item.NombreRefaccion}} - {{item.NoParte}}
            </td>
            <td>
              {{item.Cantidad}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="_global.reporte.objreporte.RefaccionesRecuperadas.length==0 && this._global.reporte.objreporte.StatusCostoLanded=='Aprobado'">
  <div class="col-12">

    <div class="row">
      <div class="col-6 text-left">
        <div class="sform mb-3">15. <i>Agrega las refacciones recuperadas del producto</i>:</div>
      </div>
      <div class="col-sm-4">
        <label>
          <select class="form-control form-control-sm" formControlName="Refaccion" (change)="agregarRefaccion()">
            <option value="" hidden="">Agregar refacción</option>
            <option value="Otro">Otro</option>
            <option *ngFor="let item of _global.refaccionesproductos; let i = index" value="{{item.NoParte}}">{{item.NoParte}} - {{item.Nombre}}</option>
          </select>
        </label>
      </div>
      <div class="col-sm-4">
        <label>
          <input *ngIf="this.adjuntosCambioFisicoForm.controls.Refaccion.value == 'Otro'" autocomplete="off" type="text" class="form-control form-control-sm" id="OtraRefaccion" placeholder="Descripción" maxlength="100" />&nbsp;
        </label>
      </div>
      <div class="col-sm-4">
        <label>
          <button *ngIf="this.adjuntosCambioFisicoForm.controls.Refaccion.value == 'Otro'" type="button" class="btn btn-sm" (click)="agregarOtraRefaccion()"><i class="fa fa-plus-circle"></i> Agregar Refacción</button>
        </label>
      </div>
    </div>



    <!--tabla-->
    <div class="row my-5" *ngIf="_global.refaccionesrecuperadas[0]">
      <div class="col-12 mb-5">

        <table class="w-50">
          <tr>
            <th>Refacción/No. de parte</th>
            <th>Cantidad</th>
            <th>Eliminar</th>
          </tr>

          <tr *ngFor="let item of _global.refaccionesrecuperadas; let i = index">

            <td>
              {{item.NombreRefaccion}} - {{item.NoParte}}
            </td>
            <td>
              <input type="number" id="cant-{{i}}" class="form-control form-control-sm cantidad text-center" (change)="changeCantidad(i, $event.target.value)" min="1" value="{{_global.refaccionesrecuperadas[i].Cantidad}}" />
            </td>
            <td>
              <a class="btneliminar" (click)="eliminarRefaccion(i)"><i class="fa fa-trash"></i></a>
            </td>
          </tr>

        </table>

      </div>
    </div>
  </div>
    <!--termina REFACCIONES -->
  <div class="row">
    <div class="col-sm-12 my-3 mt-1 text-center">
      <button class="btn" type="submit" >Registrar información de cambio físico</button>
    </div>
  </div>

</div>
</form>
<!--DISTRIBUIDOR CAMBIO FISICO-->
<div class="row" *ngIf="this._global.reporte.objreporte.TipoReclamoDiagnostico == 'Cambio' && this._global.user.nivel != 'operador'">
  <div class="col-sm-12 my-3">
    <h4 class="mt-3 naranja"><b>Cambio Físico (Distribuidor)</b></h4>
    <hr />
  </div>
</div>

<form  *ngIf="this._global.esDistribuidor() && this._global.reporte.objreporte.TipoReclamoDiagnostico == 'Cambio' && (this._global.reporte.objreporte.StatusCostoLanded=='Rechazado' || this._global.reporte.objreporte.StatusCostoLanded=='Pendiente' || this._global.reporte.objreporte.StatusCostoLanded=='') && this._global.user.nivel != 'operador'" class="formulario formularioRegistro my-3" name="formulariocambiofisicodistribuidor" [formGroup]="distribuidorCambioFisicoForm" (ngSubmit)="submitDistribuidorCambioFisico()" >
<div class="row">
  <div class="col-sm-4 mb-5">
    <div class="row">
      <div class="vform w-100">
        <div class="vformleft">Costo Landed:</div>
        <div class="vformright">
          <label class="">
            <span class="simbolo">$</span> <input class="form-control form-control-sm w-50" OnlyNumber="true" placeholder="Costo Landed" formControlName="CostoLanded" >&nbsp;USD
            <span class="alert alert-danger" *ngIf="distribuidorCambioFisicoForm.controls.CostoLanded.value=='0' || distribuidorCambioFisicoForm.controls.CostoLanded.value==''">
              Este campo es requerido
            </span>
          </label>

        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-12">

      </div>
    </div>

  </div>
  <div class="col-sm-4 mb-5">
    <div class="row">
      <div class="vform w-100">
        <div class="vformleft">Otro costo: </div>
        <div class="vformright">
          <label class="fecha">
            <span class="simbolo">$</span> <input class="form-control form-control-sm w-50" OnlyNumber="true" placeholder="Otro costo" formControlName="OtroCostoDistribuidor" >&nbsp;USD
          </label>
        </div>
      </div>

    </div>

  </div>
  <div class="col-sm-4 mb-5">
    <div class="row">
      <div class="vform w-100">
        <div class="vformleft">Fecha de entrega del cambio a cliente: </div>
        <div class="vformright">
          <label class="fecha">

            <input class="form-control form-control-sm fecha" placeholder=""
                   formControlName="FechaEntregaCambio" ngbDatepicker #d1="ngbDatepicker" [(ngModel)]="modelfechaentregacambio"  [minDate]="minDateObj">
            <button class="input-group-addon" (click)="d1.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </label>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="row">
  <div class="col-sm-12 my-3 mt-1 text-center">
    <button class="btn" type="submit" >Registrar información distribuidor</button>
  </div>
</div>
</form>
<!--TERMINA DISTRIBUIDOR CAMBIO FISICO-->

<!--INFO DISTRIBUIDOR CAMBIO FISICO PARA OTRO USUARIOS-->
<div class="row sameheight mt-2"  *ngIf="((!(this._global.esDistribuidor()) && this._global.user.nivel!='operador') && this._global.reporte.objreporte.TipoReclamoDiagnostico == 'Cambio') || (this._global.reporte.objreporte.StatusCostoLanded=='Aprobado' && this._global.user.nivel!='operador')">
  <div class="col-sm-4">
    <div class="vform">
      <div class="vformleft">Estatus Costo Landed: </div>
      <div class="vformright" *ngIf="this._global.reporte.objreporte.StatusCostoLanded!=''">{{this._global.reporte.objreporte.StatusCostoLanded}} </div>
      <div class="vformright" *ngIf="this._global.reporte.objreporte.StatusCostoLanded==''">En revisión </div>
    </div>
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4"></div>
</div>
<div class="row sameheight mt-2"  *ngIf="((!(this._global.esDistribuidor()) && this._global.user.nivel!='operador') && this._global.reporte.objreporte.TipoReclamoDiagnostico == 'Cambio') || (this._global.reporte.objreporte.StatusCostoLanded=='Aprobado' && this._global.user.nivel!='operador')">
  <div class="col-sm-4">
    <div class="vform">
      <div class="vformleft">Costo Landed: </div>
      <div class="vformright">${{this._global.reporte.objreporte.CostoLanded}} </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="vform">
      <div class="vformleft">Otro Costo: </div>
      <div class="vformright">${{this._global.reporte.objreporte.OtroCostoDistribuidor}} </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="vform">
      <div class="vformleft">Fecha Entrega de Cambio: </div>
      <div class="vformright" [innerHTML]="this.fechaentregacambio"> </div>
    </div>
  </div>
</div>



    <!--HP-->
    <div class="row" *ngIf="this.resolucionDisabled()==null && this._global.reporte.objreporte.TipoReclamoDiagnostico=='Reparación'">
      <div class="col-sm-12 my-3 mt-3">
        <h4 class="mt-3 naranja"><b>Resolución (llenado exclusivo de Home Products Group After Sales Dept)</b></h4>
        <hr />
      </div>
    </div>
    <div class="row grayed" *ngIf="formulariostatus.success == 1 && this.resolucionDisabled()==null && this._global.reporte.objreporte.TipoReclamoDiagnostico=='Reparación' && this.resolucion.id>0">
      <div class="col-sm-6">
        <div class="row mb-1">
          <div class="col-4 text-right">
            Información completa:
          </div>
          <div class="col-8">
            <span *ngIf="this.resolucion.info_completa==1"><b>Sí</b></span>
            <span *ngIf="this.resolucion.info_completa==0"><b>No</b></span>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-4 text-right">
            Reclamo:
          </div>
          <div class="col-8">
            <span *ngIf="this.resolucion.reclamo==1"><b>Aceptado</b></span>
            <span *ngIf="this.resolucion.reclamo==0"><b>Rechazado</b></span>
          </div>
        </div>
        <div class="row mb-1" [hidden]="!(this.genericForm.controls.reclamo.value == 0 && this.genericForm.controls.reclamo.value != '')">
          <div class="col-4 text-right">
            Razón del rechazo:
          </div>
          <div class="col-8">
            <b>{{this.resolucion.razon_rechazo}}</b>
          </div>
        </div>
      </div>
      <div class="col-sm-6">

        <div class="row mb-1">
          <div class="col-4 text-right">
            Procesado por:
          </div>
          <div class="col-8">
            <b>{{this.resolucion.procesado_por}}</b>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-4 text-right">
            Fecha:
          </div>
          <div class="col-8">
            <b>{{this.resolucion.fecha}}</b>
          </div>
        </div>
      </div>
    </div>
    <form class="formulario formularioRegistro my-3" name="formularioresolicion" [formGroup]="genericForm" (ngSubmit)="submitResolucion()" *ngIf="formulariostatus.success == 1 && this.resolucionDisabled()==null && this._global.reporte.objreporte.TipoReclamoDiagnostico=='Reparación' && this.resolucion.id==0">
    <div class="row grayed">
      <div class="col-sm-6">
        <div class="row mb-1">
          <div class="col-4 text-right">
            Información completa:
          </div>
          <div class="col-8">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="informacionCompleta" id="informacionCompleta1" value="1"  [attr.disabled]="this.resolucionDisabled()" >
              <label class="form-check-label" for="informacionCompleta1" >Sí</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="informacionCompleta" id="informacionCompleta2" value="0"  [attr.disabled]="this.resolucionDisabled()" >
              <label class="form-check-label" for="informacionCompleta2">No</label>
            </div>
            <div class="alert alert-danger" *ngIf="!genericForm.controls.informacionCompleta.valid && genericForm.controls.informacionCompleta.touched">
              Este campo es requerido
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-4 text-right">
            Reclamo:
          </div>
          <div class="col-8">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="reclamo" id="reclamo1" value="1" [attr.disabled]="this.resolucionDisabled()" (change)="this.reclamoChange()">
              <label class="form-check-label" for="reclamo1">Aceptado</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="reclamo" id="reclamo2" value="0" [attr.disabled]="this.resolucionDisabled()" (change)="this.reclamoChange()">
              <label class="form-check-label" for="reclamo2">Rechazado</label>
            </div>
            <div class="alert alert-danger" *ngIf="!genericForm.controls.reclamo.valid && genericForm.controls.reclamo.touched">
              Este campo es requerido
            </div>
          </div>
        </div>
        <div class="row mb-1" [hidden]="!(this.genericForm.controls.reclamo.value == 0 && this.genericForm.controls.reclamo.value != '')">
          <div class="col-4 text-right">
            Razón del rechazo:
          </div>
          <div class="col-8">
            <textarea class="form-control form-control-sm" formControlName="razonRechazo" id="razonRechazo" rows="3" [attr.disabled]="this.resolucionDisabled()" ></textarea>
            <div class="alert alert-danger" *ngIf="!genericForm.controls.razonRechazo.valid && genericForm.controls.razonRechazo.touched">
              Este campo es requerido
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">

        <div class="row mb-1">
          <div class="col-4 text-right">
            Procesado por:
          </div>
          <div class="col-8">
            <input type="text" class="form-control form-control-sm" id="procesadoPor" formControlName="procesadoPor" [attr.disabled]="this.resolucionDisabled()" />
            <div class="alert alert-danger" *ngIf="!genericForm.controls.procesadoPor.valid && genericForm.controls.procesadoPor.touched">
              Este campo es requerido
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-4 text-right">
            Fecha:
          </div>
          <div class="col-8">
            <input type="text" class="form-control form-control-sm" id="fechaResolucion" value={{this.FechaResolucion}} disabled />
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-12 my-3 mt-1 text-center">
        <button class="btn" type="submit" [attr.disabled]="this.resolucionDisabled()">Registrar</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-12 mt-3">
      <h2 class="alert-danger px-2">{{_global.appstatus.mensaje}}</h2>
    </div>
  </div>


</div><!--container principal-->



<div class="container">
  <div class="row">
    <!--<div class="col-6 my-5 ">
      <a class="btn btnicono" routerLink="/inicio"><i class="fa fa-angle-left"></i> Anterior</a>
    </div>-->
    <!--<div class="col-6 offset-6 text-right my-5 ">
      <a class="btn btnicono" (click)="this._global.seleccionarReporte(this._global.reporte.idreporte)"> Siguiente <i class="fa fa-angle-right"></i></a>
    </div>-->
    <div class="col-6 offset-6 text-right my-5 ">
      <a class="btn btnicono" routerLink="/inicio"> <i class="fa fa-angle-left"></i> Regresar </a>
    </div>
  </div>
</div>
