<div class="container my-3">
  <div class="row">
    <div class="col-12">
      <div class="statusapp">
        <div class="paso active">
          <div class="wrap">
            <span>1</span>
          </div>
          <div>Cliente</div>
        </div>
        <div class="paso active">
          <div class="wrap">
            <span>2</span>
          </div>
          <div>Reporte del Caso</div>
        </div>
        <div class="paso" *ngIf="!(this._global.esDistribuidor()) && this._global.user.nivel!='contactcenter'">
          <div class="wrap">
            <span>3</span>
          </div>
          <div>Reparación</div>
        </div>
        <div class="paso" *ngIf="!(this._global.esDistribuidor()) && this._global.user.nivel!='contactcenter'">
          <div class="wrap">
            <span>4</span>
          </div>
          <div>Orden de Servicio</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Cliente-->
<div class="container">
  <div class="row mt-5">
    <div class="col-12 text-right bold">
      Cliente: <a routerLink="/inicio/cliente/detalle"><span [innerHtml]="this._global.cliente.objeto.RazonSocial"> </span><span [innerHtml]="this._global.cliente.objeto.Nombre"></span>&nbsp;<span [innerHtml]="this._global.cliente.objeto.APaterno"></span>&nbsp;<span [innerHtml]="this._global.cliente.objeto.AMaterno"></span></a>
    </div>
  </div>
</div>

<div class="container" [hidden]="!(this.status.cotizar == -1)">

  <div class="row">
    <div class="col-12 mt-3">
      <h1>Descripción del Caso</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-3">
      <h2 class="alert-danger px-2">{{_global.appstatus.mensaje}}</h2>
    </div>
  </div>

  <form *ngIf="status.paso == 1" class="formulario formularioRegistro my-3" name="formulariologin" [formGroup]="genericForm" (ngSubmit)="submitRegistro()">
    <!-- Campo necesario para Contact Center-->
    <div class="row my-3"  *ngIf="this._global.user.nivel == 'contactcenter'">
      <div class="col-6">Origen del contacto:</div>
      <div class="col-6">
        <select class="form-control form-control-sm" formControlName="MedioDeContacto" >
          <option value="">Seleccuine origen del contacto</option>
          <option value="Correo Electrónico">Correo Electrónico</option>
          <option value="Llamada">Llamada</option>
        </select>
      </div>
    </div>
    <!-- #Campo necesario para Contact Center-->
    <div class="row my-3">
      <div class="col-6">
        <p>Proporciona los datos para identificar el caso y generar el reporte:</p>
      </div>
      <div class="col-6">
        <select class="form-control form-control-sm" formControlName="TipoCaso" id="tipocaso" (change)="changeTipoCaso()">
          <option value="" hidden>Selecciona tipo de caso</option>
          <option value="Casos Especiales">Casos Especiales</option>
          <!--option value="Cambio Físico">Cambio Físico</!--option>-->
          <option value="Garantía">Garantía</option>
          <!--<option value="Manuales">Manuales</option>-->

          <option value="Queja">Queja</option>
          <!--<option value="Sin Respuesta CDS">Sin Respuesta CDS</option>
          <option value="Solicitud de Acción Legal">Solicitud de Acción Legal</option>-->
          <option value="Solicitud de Información">Solicitud de Información</option>
          <!--<option value="Solicitud de Venta">Solicitud de Venta</option>
          <option value="Sugerencia">Sugerencia</option>-->
          <option value="Refacciones">Venta de Refacciones</option>
        </select>
      </div>
    </div>

    <div class="row" [hidden]="this.genericForm.controls.TipoCaso.value == null || this.genericForm.controls.TipoCaso.value == '' || this.genericForm.controls.TipoCaso.value == null || this.status.mostrarDescripcion ">

      <!--DATOS DE CONTACTO-->

      <div class="col-12">
        <h3>Producto</h3>
      </div>
      <div class="col-sm-6">


        <label>
          <select class="form-control form-control-sm" formControlName="Categoria" (change)="changeCategoria()">
            <option value="" hidden="">Selecciona categoría</option>
            <option value="LINEA BLANCA">LINEA BLANCA</option>
            <!--<option value="Microwave">Microwave</option>-->
            <option value="MENAJE">MENAJE</option>
          </select>
          <span class="alert alert-danger" *ngIf="!genericForm.controls.Categoria.valid && genericForm.controls.Categoria.touched">
            Este campo es requerido
          </span>
        </label>
        <label><!-- (change)="changeUso()"-->
          <select class="form-control form-control-sm" formControlName="Uso">
            <option value="" hidden="">Uso del producto</option>
            <option value="Comercial">Comercial</option>
            <option value="Privado">Privado</option>
          </select>
          <span class="alert alert-danger" *ngIf="!genericForm.controls.Uso.valid && genericForm.controls.Uso.touched">
            Este campo es requerido
          </span>
        </label>
        <label>
          <select class="form-control form-control-sm" formControlName="Subcategoria" (change)="changeSubcategoria()">
            <option value="" hidden="">Selecciona subcategoría</option>
            <option *ngFor="let item of _global.subcategorias; let i = index" value="{{item.Subcategoria}}">{{item.Subcategoria}}</option>

          </select>
          <span class="alert alert-danger" *ngIf="!genericForm.controls.Subcategoria.valid && genericForm.controls.Subcategoria.touched">
            Este campo es requerido
          </span>
        </label>

        <label>
          <select class="form-control form-control-sm" formControlName="Modelo"  (change)="changeModelo()">
            <option value="" hidden="">Selecciona modelo</option>
            <option *ngFor="let item of _global.modelos; let i = index" value="{{item.Modelo}}">{{item.Modelo}}</option>
          </select>
          <span class="alert alert-danger" *ngIf="!genericForm.controls.Modelo.valid && genericForm.controls.Modelo.touched">
            Este campo es requerido
          </span>
        </label>

        <label>
          <select class="form-control form-control-sm" formControlName="Tipo">
            <option value="" hidden="">Selecciona producto</option>
            <option *ngFor="let item of _global.productos; let i = index" value="{{item.Producto}}">{{item.Producto}}</option>
          </select>
          <span class="alert alert-danger" *ngIf="!genericForm.controls.Tipo.valid && genericForm.controls.Tipo.touched">
            Este campo es requerido
          </span>
        </label>



        <label [hidden]="true">
          <input autocomplete="off" type="text" class="form-control form-control-sm" formControlName="CodigoSAP" placeholder="Código SAP" maxlength="20" />
          <span class="alert alert-danger" *ngIf="!genericForm.controls.CodigoSAP.valid && genericForm.controls.CodigoSAP.touched">
            Este campo es requerido
          </span>
        </label>

        <label class="fecha">
          <input class="form-control form-control-sm" placeholder="Fecha de Compra registrada en Ticket / Factura"
                 formControlName="FechaCompra" ngbDatepicker #d="ngbDatepicker" (focus)="changeFechaCompra()" [(ngModel)]="modelfechacompra"  [maxDate]="maxDateObj">
          <button class="input-group-addon" (click)="d.toggle()" type="button">
            <i class="fa fa-calendar"></i>
          </button>

          <span class="alert alert-danger" *ngIf="!genericForm.controls.FechaCompra.valid && genericForm.controls.FechaCompra.touched">
            Este campo es requerido
          </span>
        </label>

        <label>
          <select class="form-control form-control-sm" formControlName="Sello" (change)="changeSello()">
            <option value="" hidden="">¿Cuenta con ticket o póliza sellada?</option>
            <option value="Sí">Sí</option>
            <option value="No">No</option>

          </select>
          <span class="alert alert-danger" *ngIf="!genericForm.controls.Sello.valid && genericForm.controls.Sello.touched">
            Este campo es requerido
          </span>

        </label>
        <div *ngIf="this.genericForm.controls.AplicaGarantia.value == 'no' && this.genericForm.controls.FechaCompra.valid" class="alert-danger alert-danger-2 mt-2">
          No aplica garantía
        </div>
        <div *ngIf="this.genericForm.controls.AplicaGarantia.value  == 'si' && this.genericForm.controls.FechaCompra.valid" class="alert-success mt-2">
          Aplica garantía
        </div>

        <input type="hidden" formControlName="AplicaGarantia">
      </div>
      <div class="col-sm-6">

        <!--SOLO GARANTIAS Y REFACCIONES-->
        <div [hidden]="!(this.genericForm.controls.TipoCaso.value == 'Refacciones') ">
          <label>
            <select class="form-control form-control-sm" formControlName="Condicion" >
              <option value="null" hidden="">Selecciona condición</option>
              <option value="Nuevo">Nuevo</option>
              <option value="Usado">Usado</option>
              <option value="Reparado">Reparado</option>
            </select>
            <span class="alert alert-danger" *ngIf="!genericForm.controls.Condicion.valid && genericForm.controls.Condicion.touched">
              Este campo es requerido
            </span>
          </label>

        </div>

        <!--SOLO GARANTIAS-->
        <div [hidden]="!(this.genericForm.controls.TipoCaso.value == 'ffdsfsd') ">
          <label>
            <select class="form-control form-control-sm" formControlName="TipoReclamo" >
              <option value="" hidden="">Selecciona tipo reclamo</option>
              <option value="Cambio">Cambio</option>
              <option value="Reparación">Reparación</option>
            </select>
            <span class="alert alert-danger" *ngIf="!genericForm.controls.TipoReclamo.valid && genericForm.controls.TipoReclamo.touched">
              Este campo es requerido
            </span>
          </label>
        </div>
        <label *ngIf="(this._global.user.IDDistribuidor>0 || this._global.user.nivel=='contactcenter') && (this.genericForm.controls.Categoria.value=='LINEA BLANCA' || this.genericForm.controls.Modelo.value=='OS-17001' || this.genericForm.controls.Modelo.value=='OS-17001-1')">
          <select class="form-control form-control-sm" formControlName="IDCentro" id="idcentro" (change)="changeCentro()">
            <option value="">Centro de Servicio</option>
            <option *ngFor="let item of _global.centros; let i = index" value="{{item.id}}">{{item.Nombre}} <label *ngIf="item.Ciudad!=''">- {{item.Ciudad}}</label><label *ngIf="item.Categoria!=''">- {{item.Categoria}}</label></option>
          </select>
        </label>
        <label>
          <select class="form-control form-control-sm" formControlName="Distribuidor" *ngIf="this._global.user.IDDistribuidor>0">
            <option value="" hidden>Distribuidor</option>
            <option *ngFor="let item of _global.distribuidores" [hidden]="item.IDDistribuidor!=this._global.user.CustomerID" value="{{item.IDDistribuidor}}">{{item.RazonSocial}}</option>

          </select>
          <select class="form-control form-control-sm" formControlName="Distribuidor" *ngIf="this._global.user.IDDistribuidor==0">
            <option value="" hidden>Distribuidor</option>
            <option *ngFor="let item of _global.distribuidores" value="{{item.IDDistribuidor}}">{{item.RazonSocial}}</option>

          </select>
          <span class="alert alert-danger" *ngIf="!genericForm.controls.Distribuidor.valid && genericForm.controls.Distribuidor.touched">
            Este campo es requerido
          </span>
        </label>
        <label>
          <input class="form-control form-control-sm" formControlName="LugarCompra"  placeholder="Lugar Compra" maxlength="250" />
          <span class="alert alert-danger" *ngIf="!genericForm.controls.LugarCompra.valid && genericForm.controls.LugarCompra.touched">
            Este campo es requerido
          </span>
        </label>
        <label>
          <select class="form-control form-control-sm" formControlName="Falla" (change)="changeFalla()">
            <option value="" hidden="">Seleccionar falla</option>
            <option *ngFor="let item of _global.fallas; let i = index" value="{{item.Falla}}">{{item.Falla}}</option>
            <option value="OTRO" >OTRO</option>
          </select>
          <span class="alert alert-danger" *ngIf="!genericForm.controls.Falla.valid && genericForm.controls.Falla.touched">
            Este campo es requerido
          </span>
        </label>
        <label [hidden]="!(genericForm.controls.Falla.value == 'OTRO')">
          <textarea class="form-control form-control-sm" formControlName="FallaDescripcion" rows="4" placeholder="Descripción de la falla"></textarea>
          <span class="alert alert-danger" *ngIf="!genericForm.controls.FallaDescripcion.valid && genericForm.controls.FallaDescripcion.touched">
            Este campo es requerido
          </span>
        </label>
        <label>
          <textarea class="form-control form-control-sm" formControlName="Comentarios" rows="4" placeholder="Comentarios/Descripción del Cliente" maxlength="1000"></textarea>
          <span class="alert alert-danger" *ngIf="!genericForm.controls.Comentarios.valid && genericForm.controls.Comentarios.touched">
            Este campo es requerido
          </span>
        </label>
      </div>

    </div><!--row-->


    <div class="row" [hidden]="this.genericForm.controls.TipoCaso.value == null || this.genericForm.controls.TipoCaso.value == '' || !this.status.mostrarDescripcion ">

      <label>
        <textarea class="form-control form-control-sm" formControlName="Descripcion" rows="4" placeholder="Descripcion de {{this.genericForm.controls.TipoCaso.value}}" maxlength="1000"></textarea>
        <span class="alert alert-danger" *ngIf="!genericForm.controls.Descripcion.valid && genericForm.controls.Descripcion.touched">
          Este campo es requerido
        </span>
      </label>

    </div>

    <!--Campos para menaje-->

    <div class="row" *ngIf="this.genericForm.controls.TipoCaso.value == 'Garantía' && this.genericForm.controls.Categoria.value=='MENAJE'">
      <div class="col-sm-6">
        <label>
          <input autocomplete="off" type="text" class="form-control form-control-sm" formControlName="NoSerie" placeholder="No. de Serie" maxlength="20" (change)="changeNoSerie()" />
          <span class="alert alert-danger" *ngIf="!genericForm.controls.NoSerie.valid && genericForm.controls.NoSerie.touched">
            Este campo es requerido
          </span>
        </label>
        <label *ngIf="this._global.user.nivel!='contactcenter'">
          <span class="simbolo">$</span> <input class="form-control form-control-sm w-50" OnlyNumber="true" placeholder="Costo Landed" formControlName="CostoLanded" >&nbsp;USD
          <span class="alert alert-danger" *ngIf="!genericForm.controls.CostoLanded.valid && genericForm.controls.CostoLanded.touched">
            Este campo es requerido
          </span>
        </label>
        <label *ngIf="this._global.user.nivel!='contactcenter'">
          <span class="simbolo">$</span> <input class="form-control form-control-sm w-50" OnlyNumber="true" placeholder="Otro costo" formControlName="OtroCostoDistribuidor" >&nbsp;USD
        </label>
      </div>
      <div class="col-sm-6">
        <label>
          <textarea class="form-control form-control-sm" formControlName="CondicionProductoDiagnostico" rows="5" placeholder="* Condición general del producto" maxlength="1000"></textarea>
          <span class="alert alert-danger" *ngIf="!genericForm.controls.CondicionProductoDiagnostico.valid && genericForm.controls.CondicionProductoDiagnostico.touched">
            Este campo es requerido
          </span>
        </label>
      </div>
    </div>
    <div class="row" *ngIf="this.genericForm.controls.TipoCaso.value == 'Garantía' && this.genericForm.controls.Categoria.value=='MENAJE' && this._global.user.nivel!='contactcenter'">
      <div class="col-sm-12 my-3">
        <h4 class="mt-3 naranja"><b>Archivos adjuntos</b></h4>
        <hr />
      </div>
    </div>
    <div class="row" *ngIf="this.genericForm.controls.TipoCaso.value == 'Garantía' && this.genericForm.controls.Categoria.value=='MENAJE' && _global.AdjuntosFacturasNotasCompraArre.length==0 && this._global.user.nivel!='contactcenter'">
      <div class="col-sm-6 mb-5">
        <div class="row">
          <div class="col-4 text-right">
            <div class="sform mb-3">Factura o comprobante de entrega:</div>
          </div>
          <div class="col-8">
            <div class="row no-gutters" >
              <div class="col-12 mb-1">
                <ng2-file-input (onAction)="onActionFacturasNotasCompra($event)" ></ng2-file-input>
                <span class="alert alert-danger" *ngIf="this.FacturasNotasCompraLenght==0 && this.adjuntosValidos==false">
                  Este campo es requerido
                </span>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="col-sm-6 mb-5" *ngIf="this._global.user.nivel!='contactcenter'">
        <div class="row">
          <div class="col-4 text-right">
            <div class="sform mb-3">12. <i>Fotos del modelo y no. serie</i> de producto:</div>
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-12 mb-1">
                <ng2-file-input (onAction)="onActionFotosModeloSerie($event)"></ng2-file-input>

                <span class="alert alert-danger" *ngIf="this.FotosModeloSerieLenght==0 && this.adjuntosValidos==false">
                  Este campo es requerido
                </span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!--<div class="row" [hidden]="this.genericForm.controls.TipoCaso.value == '' ">
      <label class="text-right mt-4">
        <button class="btn btn-sm" type="submit">Guardar cambios</button>
      </label>
    </div>-->
    <!--REVISION-->
    <div *ngIf="(!(this._global.user.IDDistribuidor>0) && this._global.user.nivel!='contactcenter') && this.genericForm.controls.TipoCaso.value == 'Garantía' && (this.genericForm.controls.Categoria.value!='MENAJE' || this.genericForm.controls.Modelo.value=='OS-17001' || this.genericForm.controls.Modelo.value=='OS-17001-1')" class="col-12">
      <div class="row">

        <div class="col-12 pt-3">
          <h3>Revisión</h3>
        </div>

        <div class="col-sm-2">
          <label>
            <select class="form-control form-control-sm" formControlName="TipoRevision" (change)="changeTipoRevision()">
              <option value="" hidden="">Seleccionar tipo de revisión</option>
              <option value="domicilio" *ngIf="this.formulariostatus.habilitaDomicilio" >En Domicilio Cliente</option>
              <option value="mostrador">En Mostrador</option>
              <option value="otro centro">En otro Centro de Servicio</option>
            </select>
            <span class="alert alert-danger" *ngIf="!genericForm.controls.TipoRevision.valid && genericForm.controls.TipoRevision.touched">
              Este campo es requerido
            </span>
          </label>
        </div>
        <div [hidden]="!(this.genericForm.controls.TipoRevision.value == 'otro centro')" class="col-sm-2">
          <label>
            <select class="form-control form-control-sm" formControlName="TipoCentro" (change)="changeTipoCentro()">
              <option value="">Seleccionar tipo de Cds</option>
              <option value="Master">Master</option>
              <option value="Red">Red</option>
            </select>
            <span class="alert alert-danger" *ngIf="!genericForm.controls.TipoRevision.valid && genericForm.controls.TipoRevision.touched">
              Este campo es requerido
            </span>
          </label>
        </div>
        <!--En otro centro de servicio -->
        <div [hidden]="!(this.genericForm.controls.TipoCentro.value != '')" class="col-sm-2">
          <label class="fecha">
            <select class="form-control form-control-sm" formControlName="IDCentro" id="idcentro" (change)="changeCentro()">
              <option value="">Selecciona el CDs</option>
              <option *ngFor="let item of _global.centros; let i = index" value="{{item.id}}">{{item.Nombre}}<label *ngIf="item.Ciudad!=''"> - {{item.Ciudad}}</label></option>
            </select>
            <span class="alert alert-danger" *ngIf="!genericForm.controls.IDCentro.valid && genericForm.controls.IDCentro.touched">
              Este campo es requerido
            </span>
          </label>
        </div>
        <!--termina en otro centro de servicio -->
        <div [hidden]="!(this.genericForm.controls.TipoRevision.value == 'domicilio') || (this.genericForm.controls.Subcategoria.value=='MICROONDA' || this.genericForm.controls.Subcategoria.value=='DISPENSADOR DE AGUA')" class="col-sm-2">
          <label class="fecha">
            <select class="form-control form-control-sm" formControlName="TipoKilometraje" (change)="changeTipoKilometraje()">
              <option value="" hidden="">Selecciona el kilometraje</option>
              <option *ngFor="let item of _global.subtiposervicio; let i = index" value="{{item.id}}">{{item.SubtipoServicio}}</option>
            </select>
            <span class="alert alert-danger" *ngIf="!genericForm.controls.TipoKilometraje.valid && genericForm.controls.TipoKilometraje.touched">
              Este campo es requerido
            </span>
          </label>
        </div>

        <div [hidden]="!(this.genericForm.controls.TipoRevision.value == 'domicilio') || (this.genericForm.controls.Subcategoria.value=='MICROONDA' || this.genericForm.controls.Subcategoria.value=='DISPENSADOR DE AGUA')" class="col-sm-2">
          <label class="fecha">
            <input class="form-control form-control-sm fecha" placeholder="Elegir Fecha de Revisión"
                   formControlName="FechaRevision" ngbDatepicker #d2="ngbDatepicker"  [(ngModel)]="modelfecharevision"  >
            <button class="input-group-addon" (click)="d2.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
            <span class="alert alert-danger" *ngIf="!genericForm.controls.FechaRevision.valid && genericForm.controls.FechaRevision.touched">
              Este campo es requerido
            </span>
          </label>
        </div>


        <div [hidden]="!(this.genericForm.controls.TipoRevision.value == 'domicilionomostrar') || (this.genericForm.controls.Subcategoria.value=='MICROONDA' || this.genericForm.controls.Subcategoria.value=='DISPENSADOR DE AGUA')" class="col-sm-2">
          <label class="fecha">
            <input autocomplete="off" type="text" class="form-control form-control-sm" formControlName="Kilometraje" placeholder="Ingresa el kilometraje" maxlength="20" />
            <span class="alert alert-danger" *ngIf="!genericForm.controls.Kilometraje.valid && genericForm.controls.Kilometraje.touched">
              Este campo es requerido
            </span>
          </label>
        </div>

        <div [hidden]="!(this.genericForm.controls.TipoRevision.value == 'domicilio')" class="col-sm-2">
          <label class="">
            <span class="spanleft">$</span>
            <div *ngIf="this.formulariostatus.necesitaAutorizacion!=0">
              <input autocomplete="off" type="number" class="w-50 form-control form-control-sm" formControlName="CostoKilometraje" placeholder="Ingresa el costo" min="0" />
            </div>
            <div *ngIf="this.formulariostatus.necesitaAutorizacion==0">
              <input autocomplete="off" type="number" class="w-50 form-control form-control-sm" formControlName="CostoKilometraje" placeholder="Ingresa el costo" min="0" readonly />
            </div>

            <span class="spanleft">&nbsp;&nbsp;&nbsp;&nbsp;USD</span>
            <span class="alert alert-danger" *ngIf="!genericForm.controls.CostoKilometraje.valid && genericForm.controls.CostoKilometraje.touched">
              Este campo es requerido
            </span>
          </label>
        </div>
        <div [hidden]="!(this.genericForm.controls.TipoRevision.value == 'domicilio' && this.formulariostatus.necesitaAutorizacion == 1)" class="col-sm-2">
          Se enviará solicitud de autorización a HP.
        </div>

      </div>
    </div>


    <!--REFACCIONES -->
    <!--
    <div [hidden]="!(this.genericForm.controls.TipoCaso.value == 'Refacciones')" class="col-12">
      <div class="row">
        <div class="col-12 pt-3">
          <h3>Refacciones</h3>
          <p>Registra las refacciones necesarias.</p>
        </div>
        <div class="col-sm-4">
          <label>
            <select class="form-control form-control-sm" formControlName="Refaccion" (change)="changeRefaccion()">
              <option value="" hidden="">Seleccionar refacción</option>
              <option value="Refaccion 1">Refaccion 1</option>
              <option value="Refaccion 2">Refaccion 2</option>
              <option value="Refaccion 3">Refaccion 3</option>
            </select>

          </label>
        </div>
        <div class="col-sm-4">
          <label>
            <input autocomplete="off" type="text" class="form-control form-control-sm" formControlName="NoParte" placeholder="No. Parte" maxlength="18" />
            <span class="alert alert-danger" *ngIf="!this.status.agregaRefaccionValid">
              Por favor selecciona una refacción y escribe No.de Parte antes de continuar
            </span>
          </label>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-sm" (click)="agregarRefaccion()"><i class="fa fa-plus-circle"></i> Agregar Refacción</button>
        </div>

      </div>

      <!--tabla-->
      <!--
      <div class="row my-5" *ngIf="_global.refacciones[0]">
        <div class="col-12 mb-5">

          <table>
            <tr>
              <th>Refacción</th>
              <th>No. de parte</th>
              <th>Diagrama</th>
              <th>Existencia</th>
              <th>Cantidad</th>
              <th>Costo Unitario</th>
              <th>Costo Total</th>
              <th>Cotizaciones</th>
              <th>Status</th>
              <th>Eliminar</th>
            </tr>

            <tr *ngFor="let item of _global.refacciones; let i = index">

              <td>
                {{item.NombreRefaccion}}
              </td>

              <td>
                {{item.NoParte}}
              </td>
              <td>
                <a class="btndiagrama" href="#"><i class="fa fa-file"></i></a>
              </td>
              <td>
                <select class="form-control form-control-sm existencia" (change)="changeExistencia(i, $event.target.value)">
                  <option value="" hidden>Seleccionar</option>
                  <option value="Disponible">Disponible</option>
                  <option value="No Disponible">No Disponible</option>
                  <option value="No Encontrada">No Encontrada</option>
                </select>
              </td>
              <td>
                <div>
                  <input  type="number" class="form-control form-control-sm cantidad text-center" (keyup)="changeCantidad(i, $event.target.value)" (change)="changeCantidad(i, $event.target.value)" />
                </div>
              </td>
              <td>
                <div *ngIf="item.Existencia == 'Disponible'">
                  <span class="spanleft">$</span> <input type="text" class="spanleft form-control form-control-sm costo" (keyup)="changeCosto(i, $event.target.value)" (change)="changeCosto(i, $event.target.value)" value="{{_global.refacciones[i].CostoUnitario}}" />
                </div>
                <div *ngIf="item.Existencia == 'No Disponible' || item.Existencia == 'No Encontrada'">
                  <span class="spanleft">$</span> <input type="text" class="spanleft form-control form-control-sm costo" (keyup)="changeCosto(i, $event.target.value)" (change)="changeCosto(i, $event.target.value)"  value="{{_global.refacciones[i].CostoUnitario}}" readonly />
                </div>
              </td>
              <td>
                <div *ngIf="item.Existencia != ''">
                  <span class="spanleft">$</span><input  type="text" class="form-control form-control-sm costototal spanleft" value="{{_global.refacciones[i].CostoTotal}}" readonly />
                </div>
              </td>
              <td>
                <div *ngIf="item.Existencia == 'Disponible'">
                  No Aplica
                </div>

                <div *ngIf="item.Existencia == 'No Disponible' && _global.refacciones[i].Status == 'Por definir'">
                  <button type="button" class="btn btn-sm" (click)="cotizar(i)">Cotizar</button>
                </div>
                <div *ngIf="item.Existencia == 'No Encontrada' && _global.refacciones[i].Status == 'Por definir'">
                  <button type="button" class="btn btn-sm" (click)="solicitar(i)">Solicitar a HP</button>
                </div>

                <div *ngIf="item.Existencia == 'No Disponible' && (_global.refacciones[i].Status == 'Por enviar' || _global.refacciones[i].Status == 'En revisión')">
                  {{_global.refacciones[i].StatusCotizacion}}
                </div>
                <div *ngIf="item.Existencia == 'No Encontrada' && (_global.refacciones[i].Status == 'Por enviar' || _global.refacciones[i].Status == 'En revisión')">
                  {{_global.refacciones[i].StatusCotizacion}}
                </div>
              </td>
              <td>

                <div>
                  {{_global.refacciones[i].Status}}
                </div>


              </td>
              <td>
                <a class="btneliminar" (click)="eliminarRefaccion(i)"><i class="fa fa-trash"></i></a>
              </td>
            </tr>

          </table>

        </div>
      </div><!--termina REFACCIONES -->


<!--
    </div>
    -->
  </form>

</div>


  <!--COTIZAR REFACCIONES -->
  <div class="container" [hidden]="!(this.status.cotizar >= 0)">

    <div class="row">
      <div class="col-12 mt-3">
        <p class="breadcrumbs"><a (click)="regresarAReporte()"> <b>Reporte del caso</b></a> > Cotizar Refacciones</p>
      </div>
    </div>


    <div class="row">
      <div class="col-12 mt-3">
        <h3>Cotización</h3>
      </div>
    </div>

    <form class="formulario formularioCotizacion my-3" name="formulariocotizacion" [formGroup]="cotizacionForm" (ngSubmit)="submitCotizacion()">

      <div class="row">
        <div class="col-sm-4">
          <label>
            <input autocomplete="off" type="text" class="form-control form-control-sm" formControlName="Proveedor" placeholder="* Nombre o Razón Social de Proveedor" maxlength="80" />
            <span class="alert alert-danger" *ngIf="!cotizacionForm.controls.Proveedor.valid && cotizacionForm.controls.Proveedor.touched">
              Este campo es requerido
            </span>
          </label>
        </div>
        <div class="col-sm-4">
          <label>
            <input type="file" class="form-control form-control-sm" formControlName="Nota" placeholder="Adjuntar archivo" />
            <span class="alert alert-danger" *ngIf="!cotizacionForm.controls.Nota.valid && cotizacionForm.controls.Nota.touched">
              Este campo es requerido
            </span>
          </label>
        </div>

      </div><!--row-->

      <div class="row">
        <div class="col-sm-4">
          <label>

            <input autocomplete="off" type="text" class="form-control form-control-sm" formControlName="NombreRefaccion" placeholder="* Concepto" maxlength="80" readonly />
            <span class="alert alert-danger" *ngIf="!cotizacionForm.controls.NombreRefaccion.valid && cotizacionForm.controls.NombreRefaccion.touched">
              Este campo es requerido
            </span>
          </label>
        </div>
        <div class="col-sm-2">
          <label>

            <input autocomplete="off" type="number" class="form-control form-control-sm" formControlName="Cantidad" placeholder="* Cantidad">
            <span class="alert alert-danger" *ngIf="!cotizacionForm.controls.Cantidad.valid && cotizacionForm.controls.Cantidad.touched">
              Este campo es requerido
            </span>
          </label>
        </div>
        <div class="col-sm-3">
          <label>

            <span class="spanleft">$</span>
            <input autocomplete="off" type="number" class="form-control form-control-sm spanleft" formControlName="CostoUnitario" placeholder="* Costo Unitario">
            <span class="alert alert-danger" *ngIf="!cotizacionForm.controls.CostoUnitario.valid && cotizacionForm.controls.CostoUnitario.touched">
              Este campo es requerido
            </span>
          </label>
        </div>
        <div class="col-sm-4">
          <label class="fecha">

            <input class="form-control form-control-sm fecha" placeholder="* Fecha de Entrega"
                   formControlName="FechaEntrega" ngbDatepicker #d3="ngbDatepicker">
            <button class="input-group-addon" (click)="d3.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
            <span class="alert alert-danger" *ngIf="!cotizacionForm.controls.FechaEntrega.valid && cotizacionForm.controls.FechaEntrega.touched">
              Este campo es requerido
            </span>
          </label>
        </div>

      </div><!--row-->
      <div class="row">
        <div class="offset-sm-8 col-sm-4 mt-4 text-right">
            <button class="btn btn-sm" type="submit">Guardar</button>
            <button (click)="regresarAReporte()" class="btn btn-sm btnnotok" type="button">Cancelar</button>
        </div>

      </div>

    </form>
</div>




  <div class="container" *ngIf="status.paso == 2">

    <div class="row">
      <div class="col-12">
        <h3 *ngIf="this.status.update == false"><i class="fa fa-check-circle"></i> Se ha registrado exitosamente un nuevo reporte:</h3>
        <h3 *ngIf="this.status.update == true"><i class="fa fa-check-circle"></i> Se ha actualizado exitosamente el reporte:</h3>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-8">
        <div class="row">
          <div class="col-4">
            <b>Tipo:</b>
          </div>
          <div class="col-8">
            {{_global.cliente.objeto.TipoPersona}}
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <b>Nombre o Razón Social:</b>
          </div>
          <div class="col-8">
            {{_global.cliente.objeto.RazonSocial}} {{_global.cliente.objeto.Nombre}} {{_global.cliente.objeto.APaterno}} {{_global.cliente.objeto.AMaterno}}
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <b>No. de Cliente:</b>
          </div>
          <div class="col-8">
            {{_global.cliente.objeto.id}}
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <b>No. de Reporte:</b>
          </div>
          <div class="col-8">
            {{_global.reporte.idreporte}}
          </div>
        </div>
      </div>
      <div class="col-4">
        <a class="btn btn-sm" routerLink="/inicio/cliente/detalle/">Editar cliente</a>
      </div>
    </div>

    <!--<div class="row my-5">
      <div class="col-12 float-right">
        <a class="btn btn-sm" routerLink="registro-de-casos/reparacion/inicio">Siguiente >> Reparación</a>
      </div>
    </div>-->





  </div>

<div class="container" *ngIf="this.status.paso == 1">
  <div class="row">
    <div class="col-6 my-5 ">
      <a class="btn btn-sm btnicono" routerLink="/inicio/cliente/detalle"><i class="fa fa-angle-left"></i> Anterior</a>
    </div>
    <!-- <div class="col-6 text-right my-5 "  [hidden]="(this.genericForm.controls.TipoKilometraje.value == 'Más de 20 kilómetros')"> -->
    <div class="col-6 text-right my-5 " *ngIf="this.genericForm.controls.TipoCaso.value!='Garantía'" >
      <button class="btn btn-sm btnicono" (click)="submitRegistro()"> Registrar reporte <i class="fa fa-angle-right"></i></button>
    </div>
    <div class="col-6 text-right my-5 " *ngIf="this.genericForm.controls.TipoCaso.value=='Garantía'" >
      <button class="btn btn-sm btnicono" (click)="submitRegistro()"  *ngIf="!(this._global.user.IDDistribuidor>0) || this.genericForm.controls.Categoria.value=='MENAJE'"> Siguiente <i class="fa fa-angle-right"></i></button>
      <button class="btn btn-sm btnicono" (click)="submitRegistro()"  *ngIf="this._global.user.IDDistribuidor>0 && this.genericForm.controls.Categoria.value=='LINEA BLANCA'"> Registrar reporte <i class="fa fa-angle-right"></i></button>
    </div>

    <div class="col-6 text-right my-5 " [hidden]="!(this.genericForm.controls.TipoKilometraje.value == 'Más de 20 kilómetros')">
      <button class="btn btn-sm btnicono" (click)="submitRegistro()"> Solicitar aprobación <i class="fa fa-angle-right"></i></button>
    </div>


  </div>
</div>

<div class="container" *ngIf="this.status.paso == 2 && this._global.reporte.objreporte.AplicaGarantia == 'si'">
  <div class="row">
    <div class="col-6 my-5 ">
      <a class="btn btn-sm btnicono" (click)="window.reload()"><i class="fa fa-angle-left"></i> Anterior</a>
    </div>
    <div class="col-6 text-right my-5 ">
      <button *ngIf="this._global.reporte.objreporte.AplicaGarantia == 'si'" class="btn btn-sm btnicono" routerLink="/registro-de-casos/reparacion/inicio" > Siguiente <i class="fa fa-angle-right"></i></button>
    </div>
  </div>
</div>

<div class="container" *ngIf="this.status.paso == 2 && this._global.reporte.objreporte.AplicaGarantia == 'no'">
  <div class="row my-5">
    <div class="col-12 text-center">
      <h3>No aplica reparación debido a garantía inválida.</h3>
    </div>
    <div class="col-6 float-center mt-5">
      <a class="btn btn-sm btnicono" routerLink="/registro-de-casos/reporte-de-caso"><i class="fa fa-angle-left"></i> Anterior </a>
    </div>
    <div class="col-6 text-right mt-5">
      <a class="btn btn-sm" routerLink="/inicio">Terminar </a>
    </div>
  </div>
</div>

<div class="container" *ngIf="this.status.paso == 2 && this._global.reporte.objreporte.AplicaGarantia == ''">
  <div class="row my-5">

    <div class="col-6 float-center mt-5">
      <a class="btn btn-sm btnicono" routerLink="/registro-de-casos/reporte-de-caso"><i class="fa fa-angle-left"></i> Anterior </a>
    </div>
    <div class="col-6 text-right mt-5">
      <a class="btn btn-sm" routerLink="/inicio">Terminar </a>
    </div>
  </div>
</div>
